.description {
    color: #fff;
    &.dark {
        color: $dark;
    }
    width: 30vw;
    opacity: 0;
    h4 {
        font-family: Lato-Bold;
        margin: 0;
        position: relative;


        font-size: 4vmin;
        line-height: 6vmin;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    p {
        font-size: 3vmin;
        font-family: Montserrat-ExtraLight;
        margin-top: 1vmin;
        &.bold {
            font-family: Montserrat-Medium;
            font-size: 4vmin;
        }
        &.small {
            font-size: 2vmin;
        }
        &.no-offset {
            margin: 0;
        }
    }

    &.centered {
        width: 80vw;
        text-align: center;
        margin: 0 auto;
    }

    &.show {
        animation: descriptionAnimationShow .5s .3s ease-in-out forwards;
        h4 {
            &::after {
                animation: borderAnimationShow .5s .3s ease-in-out forwards;
            }
        }
    }

    &.hide {
        animation: descriptionAnimationHide .3s ease-in-out forwards;
        h4 { 
            &::after {
                animation: borderAnimationHide .3s ease-in-out forwards;
            }
        }
    }
}

@keyframes descriptionAnimationShow {
    from {
        opacity: 0;
        transform: translateY(-10vmin);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes borderAnimationShow {
    from {
        transform: translateY(-2vmin);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes descriptionAnimationHide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10vmin);
    }
}

@keyframes borderAnimationHide {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-2vmin);
    }
}