.down-pointer {
    $size: 6vmin;
    display: block;
    position: absolute;
    bottom: 4vh;
    left: 50%;
    color: #fff;
    width: $size;
    height: $size;
    font-size: $size;
    line-height: $size;
    text-align: center;
    transform: translateX(-50%);
    z-index: 5;
    & .fa {
        animation: angleAnimation .8s 1.3s ease-in-out forwards infinite;
    }

    &:focus {
        color: #fff;
    }

    &:hover {
        color: $grey;
        @include transition(.3s);
    }

    &.dark {
        color: $dark;

        &:focus {
            color: $dark;
        }

        &:hover {
            color: $darker-grey;
        }
    }

    &::after, &::before {
        content: '\f107';
        font-family: FontAwesome;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
    }

    &::after {
        $new-size: $size * .5;
        font-size: $new-size;
        transform: translate3d(-50%, -50%, 0);
        animation: angleAnimation .8s 1s ease-in-out forwards infinite;
    }

    &::before {
        $new-size: $size * .75;
        font-size: $new-size;
        transform: translate3d(-50%, -25%, 0);
        animation: angleAnimation .8s 1.15s ease-in-out forwards infinite;
    }

    @keyframes angleAnimation {
        0% { opacity: .1; }
        50% { opacity: 1; }
        100% { opacity: .1; }
    }
}

&.is-mobile {
    & .down-pointer {
        display: none;
    }
}