.flash-message {
    $width: 40vmin;
    $height: 20vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    width: $width;
    // height: $height;
    min-width: 300px;

    color: #fff;
    text-align: center;
    z-index: 90;

    animation: appearAnimation .3s ease-in-out forwards;

    padding: 4vmin 6vmin;
    border-radius: 4px;

    &-icon {
        margin: 0 0 2vmin;
        font-size: 6vmin;
        display: block;
        &::before {
            font-family: FontAwesome;
        }
    }

    &.error {
        background-color: $red;
        & .flash-message-icon::before {content: '\f06a';}
    }
    &.success {
        background: rgb(48,207,208);
        background: -moz-linear-gradient(-45deg, rgba(48,207,208,1) 0%, rgba(6,186,99,1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(48,207,208,1) 0%,rgba(6,186,99,1) 100%);
        background: linear-gradient(135deg, rgba(48,207,208,1) 0%,rgba(6,186,99,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30cfd0', endColorstr='#06ba63',GradientType=1 );
        & .flash-message-icon::before {content: '\f05d';}
    }
}

@keyframes appearAnimation {
    from {
        opacity: 0;
        transform: translate3d(-50%, -40%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
    }
}