.svg-container {
    opacity: 0;
    overflow: visible;

    &.show {
        animation: showAnimation .6s .2s ease-in-out forwards;
    }

    &.hide {
        animation: hideAnimation .3s ease-in-out forwards;
    }

    & #locator-path {
        // animation: rotateAnimation 2s linear forwards infinite;
    }
}

@keyframes showAnimation {
    from {
        opacity: 0;
        transform: translateY(20vmin);
    }
    to {
        opacity: 1;
        transform: translateY(0vmin);
    }
}

@keyframes hideAnimation {
    from {
        opacity: 1;
        transform: translateY(0vmin);
    }
    to {
        opacity: 0;
        transform: translateY(-15vmin);
    }
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}