.testimonials {
    position: relative;
    margin: 0 -10vw;
    
    background: rgb(48,207,208);
    background: -moz-linear-gradient(-45deg, rgba(48,207,208,1) 0%, rgba(51,8,103,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
    background: linear-gradient(135deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30cfd0', endColorstr='#330867',GradientType=1 );

    &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    &::after {
        @include backgroundImage('product-gears-back.png');
        background-size: 100% auto;
    }

    &::before {
        @include backgroundImage('no-back-tile.png');
        background-repeat: repeat;
        @media screen and (orientation: portrait) {
            background-size: 5px;
        }
    }
    
    &-list {
        padding: 10vmin 10vw;
    }

    &-item {
        position: relative;
        z-index: 1;
        @include clear();

        &-description {
            color: #fff;
            font-family: Lato-Light;
            font-size: 4vmin;
            width: 60%;
            float: left;
            & span {
                display: block;
                font-size: 2.5vmin;
                margin-top: 5vmin;
            }
        }

        &-image {
            $image-size: 25%;
            float: right;
            width: $image-size;
            height: $image-size;
            border-radius: 100%;
            margin-left: 5vmin;
            @include overflow();

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }

    @media screen and (orientation: portrait) {
        & .testimonials-item-image {
            width: 70%;
            height: auto;
            margin: 0 auto 5vmin;
            float: none;
        }
        & .testimonials-item-description {
            text-align: center;
            width: 100%;
            font-size: 5vmin;
            & span {
                font-size: 3.5vmin;
            }
        }
    }
}