<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics begins-->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112519846-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-112519846-1');
            </script>
        <!-- Global site tag (gtag.js) - Google Analytics ends-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">
        <meta name='robots' content="noindex, nofollow">
        <meta name="description" content="Tryoup - Job management software; increase marketing ROI tracking calls & leads. Manage jobs effectively & increase company's productivity">
    	<meta name="keywords" content="job management software">
        <title>Job Management Software | Field Service Software | Call Tracking</title>

        <!-- HTML5 shissm and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="show-head-back">
        <span class="head-back"></span>
        <header>
            <div class='header-wrap'>
                <div class="logo-wrap">
                    <h1 class="logo"><a href="/">Tryoup</a></h1>
                    <a id="menuToggleButton" class="menu-toggle" href="javascript:void(0)"></a>
                </div>
                <ul class="nav-list">
                    <li><a href="/product.html">Product</a></li>
                    <li><a href="/solution.html">Solution</a></li>
                    <li><a href="/faq.html">FAQ</a></li>
                    <li><a href="/contacts.html">Contact us</a></li>
                </ul>
            </div>
        </header>
        <div id="fullpage" class="content">

            <div id="menuScreen" class="menu-screen">
                <ul>
                    <li data-hoverItem="index" class="menu-screen-item index"><a href="/index.html">Main</a></li>
                    <li data-hoverItem="product" class="menu-screen-item product"><a href="/product.html">Product</a></li>
                    <li data-hoverItem="solution" class="menu-screen-item solution"><a href="/solution.html">Solution</a></li>
                    <li data-hoverItem="faq" class="menu-screen-item faq"><a href="/faq.html">FAQ</a></li>
                    <li data-hoverItem="contacts" class="menu-screen-item contacts"><a href="/contacts.html">Contact us</a></li>
                </ul>
            </div>

            {{content}}

            <!--FOOT SECTION-->
            <div id="footSection">
                <div class="footer">
                    <div class="clear">
                        <div class="link-list faq">
                            <p class="link-list-title">Faq</p>
                            <ul>
                                <li><a href="javascript:void(0)">What is the licensing model?</a></li>
                                <li><a href="javascript:void(0)">Can I change the number of agents?</a></li>
                            </ul>
                        </div>
                        <div class="link-list blog">
                            <p class="link-list-title">Blog</p>
                            <ul>
                                <li><a href="javascript:void(0)">How does a SAAS Model Work?</a></li>
                                <li><a href="javascript:void(0)">Is Tryoup Secure?</a></li>
                            </ul>
                        </div>
                        <div class="link-list contacts">
                            <p class="link-list-title">Contact us</p>
                            <ul>
                                <li><a href="tel:00442030213717">+44(0)2030213717</a></li>
                                <li><a href="mailto:info@tryoup.io">info@tryoup.io</a></li>
                            </ul>
                        </div>
                        <div class="link-list tryoup social">
                            <p class="link-list-title"><span>Try</span>oup</p>
                            <ul>
                                <li><a class="envelope" href="javascript:void(0)"></a></li>
                                <li><a class="fb" href="javascript:void(0)"></a></li>
                                <li><a class="twitter" href="javascript:void(0)"></a></li>
                            </ul>
                        </div>
                    </div>

                    <p class="terms-and-conditions">
                        <span>© 2017 Tryoup</span>
                        <a href="javascript:void(0)">License agreements</a>
                        <a href="javascript:void(0)">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
