<!--CONSTACTS SCREEN-->
<div class="section">
    <div class="contacts-screen">
        <div id="figuresContainer" class="figures-container">
            <svg id="figuresSnapContainer" class="svg-container"></svg>
        </div>
        <div class="contacts-screen-wrap">
            <div class="description centered">
                <h4>Contact us</h4>
                <p>
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                    Studio 18 <br />
                    Deane House Studios <br />
                    Greenwood Place, London, NW5 1LB <br />
                    United Kingdom
                </p>
                <p>
                    <span class="fa fa-phone" aria-hidden="true"></span>
                    020 3021 3417 
                </p>
            </div>
            <div class="contacts-form">
                <h4>Drop us a Line</h4>
                <form id="contactsForm"  data-method="contact-form">
                    <div class="input-field name">
                        <input type="text" name="name" placeholder="Name" />
                    </div>
                    <div class="input-field email">
                        <input type="text" name="email" placeholder="Email" />
                    </div>
                    <div class="input-field phone">
                        <input type="phone" name="phone" placeholder="Phone" />
                    </div>
                    <div class="input-field message">
                        <textarea name="message" placeholder="Enter Message"></textarea>
                    </div>
                    <button type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>