<!--FAQ SCREEN-->
<div class="section">
    <div class="faq-screen">
        <div class="faq-screen-wrap">
            <div class="description centered">
                <h4>FAQ</h4>
                <p>
                    Enables your business to maximise it’s online and offline markteting objectives,
                    <br/> ROI profiling, your most profitable jobs and associated workers.
                </p>
            </div>
            <ul class="faq-list">
                <li>
                    <div class="faq-item" data-index=0>
                        <a href="javascript:void(0)" class="question">
                            What is the licensing model?
                        </a>
                        <div class="answer">
                            <p>
                                We class our software as a user licence, seat or agent. 
                                This is defined a person in your business who receives 
                                and handles enquiries or administers the system itself. 
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="faq-item" data-index=1>
                        <a href="javascript:void(0)" class="question">
                            Can I change the number of agents?
                        </a>
                        <div class="answer">
                            <p>
                                Yes. You can increase or decrease the number of 
                                agents at any time. Your next monthly charge will 
                                reflect changes to the number of agents on your account.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="faq-item" data-index=2>
                        <a href="javascript:void(0)" class="question">
                            How do I pay for a Cloud Model?
                        </a>
                        <div class="answer">
                            <p>
                                For standard monthly billing, enter your credit/debit 
                                card details in the billing area of your Cloud account.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="faq-item" data-index=3>
                        <a href="javascript:void(0)" class="question">Can I choose annual billing for Cloud?</a>
                        <div class="answer">
                            <p>
                                Yes. If it's more convenient to pay annually, you can buy a year of Cloud service
                                in the billing “billing consol”.
                            </p>
                            <p>
                                We can accept non-card payments for annual billing (checks, wire transfer/
                                ACH, PayPal). If you need to add extra agents before your next billing period,
                                you just pay a pro-data fee.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="faq-item" data-index=4>
                        <a href="javascript:void(0)" class="question">
                            Is Tryoup Secure?
                        </a>
                        <div class="answer">
                            <p>
                                Absolutely. We use bank level security practices 
                                to ensure your data is kept fully secure.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="faq-item" data-index=5>
                        <a href="javascript:void(0)" class="question">
                            How does a SAAS Model Work?
                        </a>
                        <div class="answer">
                            <p>
                                We'll automatically update and add new features and 
                                improvements; if we're making a major update, 
                                we'll provide details within the tryoup interface.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="faq-item" data-index=5>
                        <a href="javascript:void(0)" class="question">
                            Can I cancel?
                        </a>
                        <div class="answer">
                            <p>
                                You can cancel at any point. There is no minimum period. 
                                Simply cancel your account before your next billing 
                                date and you will not be charged again.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>