<!--BASE SCREEN-->
<div class="section">
    <div class="base-screen">
        <h2>JOB MANAGEMENT SOFTWARE THAT UNLOCKS YOUR BUSINESS POTENTIAL</h2>
        <div class="clear"></div>
        <h3>Track your business performance</h3>
        <p class="small-text">Tryoup is the easiest way to manage workflow, monitor leads and track calls through<br>easy to access analytical data designed to monitor your marketing budget.</p>
        <a href="#" class="button button-darkblue">FREE 14 day Trial</a>
        <button id="footFormAnchor" type="button" class="button button-orange">Book a demo</button>
        <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>

<div class="section">
    <div class="tabs-box">
        <div class="menu-head">
            Features menu
            <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="tabs-item">
            <li class="active" data-id="1"><a href="#">
                <i>
                    <img src="/media/tabs-box_1.png" alt="">
                    <img src="/media/tabs-box_1_a.png" alt="">
                </i>
                <span>job<br>management</span>
            </a></li>
            <li data-id="2"><a href="#">
                <i>
                    <img src="/media/tabs-box_2.png" alt="">
                    <img src="/media/tabs-box_2_a.png" alt="">
                </i>
                <span>Job Scheduling &<br>Dispatching</span>
            </a></li>
            <li data-id="3"><a href="#">
                <i>
                    <img src="/media/tabs-box_3.png" alt="">
                    <img src="/media/tabs-box_3_a.png" alt="">
                </i>
                <span>Auto and manual<br>notification</span>
            </a></li>
            <li data-id="4"><a href="#">
                <i>
                    <img src="/media/tabs-box_4.png" alt="">
                    <img src="/media/tabs-box_4_a.png" alt="">
                </i>
                <span>marketing campaign<br>management</span>
            </a></li>
            <li data-id="5"><a href="#">
                <i>
                    <img src="/media/tabs-box_5.png" alt="">
                    <img src="/media/tabs-box_5_a.png" alt="">
                </i>
                <span>lead<br>management</span>
            </a></li>
            <li data-id="6"><a href="#">
                <i>
                    <img src="/media/tabs-box_6.png" alt="">
                    <img src="/media/tabs-box_6_a.png" alt="">
                </i>
                <span>staff<br>performance</span>
            </a></li>
            <li data-id="7"><a href="#">
                <i>
                    <img src="/media/tabs-box_7.png" alt="">
                    <img src="/media/tabs-box_7_a.png" alt="">
                </i>
                <span>payment & invoice<br>management</span>
            </a></li>
            <li data-id="8"><a href="#">
                <i>
                    <img src="/media/tabs-box_8.png" alt="">
                    <img src="/media/tabs-box_8_a.png" alt="">
                </i>
                <span>CRM</span>
            </a></li>
            <li data-id="9"><a href="#">
                <i>
                    <img src="/media/tabs-box_9.png" alt="">
                    <img src="/media/tabs-box_9_a.png" alt="">
                </i>
                <span>integration<br>management</span>
            </a></li>
            <li data-id="10"><a href="#">
                <i>
                    <img src="/media/tabs-box_10.png" alt="">
                    <img src="/media/tabs-box_10_a.png" alt="">
                </i>
                <span>call tracking</span>
            </a></li>
        </ul>
        <div class="wrap-content tabs-content active">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h2>JOB Management</h2>
                    <p>Ellibus quam voloriam lam sequoditatur restibus animi, estrumet re dolupta quisqui blanda dolupta sperunt aliquo quistiat millore, nectur?<br>Sit, veliquas utati iumquis autasitam quaectorem di debitatatur saped mos arunti</p>
                    <div class="hidden-xs">
                        <a href="#" class="button button-orange">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <img src="/media/laptop.png" alt="" class="wide">
                </div>
            </div>
            <div class="visible-xs text-center">
                <br>
                <a href="#" class="button button-orange">FIND OUT MORE</a>
            </div>
        </div>
        <div class="wrap-content tabs-content">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <h2>Lead Management</h2>
                    <p>Ellibus quam voloriam lam sequoditatur restibus animi, estrumet re dolupta quisqui blanda dolupta sperunt aliquo quistiat millore, nectur?<br>Sit, veliquas utati iumquis autasitam quaectorem di debitatatur saped mos arunti</p>
                    <a href="#" class="button button-orange">FIND OUT MORE</a>
                </div>
                <div class="col-xs-12 col-md-5">
                    <img src="/media/laptop.png" alt="" class="wide">
                </div>
            </div>
        </div>
    </div><!--tabs-box-->
</div>

<div class="section">
    <div class="scheme-box">
        <div></div>
        <div class="wrap-content">
            <div class="row">
                <div class="col-xs-12 col-md-5 text-center">
                    <img src="/media/scheme-box-network.png" alt="" class="wide">
                </div>
                <div class="col-xs-12 col-md-7">
                    <h2>Tryoup works with <br>the best integrations</h2>
                    <p>
                        Ellibus quam voloriam lam sequoditatur restibus animi, estrumet re dolupta quisqui blanda dolupta sperunt aliquo quistiat millore, nectur?
                        <br>
                        Sit, veliquas utati iumquis autasitam quaectorem di debitatatur saped mos arunti
                    </p>
                </div>
            </div>
        </div>
    </div><!--scheme-box-->
</div>


<div class="underwater">
    <!--GEARS SCREEN-->
    <!-- <div class="section">
        <div class="gears-screen">
            <div class="gears-screen-wrap">
                <div class="description centered">
                    <h4>Tracking multiple channels <br> performance</h4>
                </div>
                <div id="gearsContainer" class="gears-container">
                    <svg id="gearsSnapContainer" class="svg-container"></svg>
                </div>
            </div>
        </div>
    </div>

    <!--CUSTOMERS SCREEN-->
    <div id="customersSection" class="section">
        <div class="customers-screen">
            <div class="customers-screen-wrap">
                <div class="description centered">
                    <p class="small">HI, WE ARE TRYOUP AND WE HELP YOU UNDERSTAND YOUR BUSINESS BETTER!</p>
                    <p class="bold">
                        <span class="fire-text">ROI</span> SUCCESS DEPENDS ON 
                        <span class="grape-text">CONVERTING LEADS</span> INTO INVOICES.<br/>
                        WE'VE SHORTEN THE ODDS IN YOUR FAVOUR...
                    </p>
                </div>
                <div id="customersContainer" class="customers-container">
                    <div id="description-1" class="description">
                        <p class="bold">
                            BY MORE EFFECTIVE <span class="fire-text">BUSINESS TRACKING</span>...
                        </p>
                    </div>
                    <div id="description-2" class="description">
                        <p class="bold">
                            TO CONVERT LEADS AND <br/>
                            <span class="fire-text">REDUCE JOB COSTING...</span>
                        </p>
                    </div>
                    <div id="description-3" class="description">
                        <p class="bold">
                            WHILE EXPEDITING YOUR <br/>
                            <span class="grape-text">RESPONSE TIME...</span>
                        </p>
                    </div>
                    <div id="description-4" class="description">
                        <p class="bold">
                            SO <span class="fire-text">CUSTOMERS</span> RECEIVE<br>
                            THE VERY BEST SERVICE...
                        </p>
                    </div>
                    <div id="description-5" class="description">
                        <p class="bold">
                            AND YOU SEE LIGHT AT THE
                            END OF THE <span class="grape-text">SALES FUNNEL.</span>
                        </p>
                    </div>
                    <svg id="customersSnapContainer" class="svg-container"></svg>
                </div>
                <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

<!--BENEFITS SCREEN-->
<!-- <div class="section">
    <div class="benefits-screen">
        <div class="left-part">
            <div class="benefits-part-text">
                <h5>Track</h5>
                <p>your performance</p>
            </div>
            <div id="locatorContainer" class="locator-container">
                <div class="locator">
                    <span class="disc"></span>
                    <span class="circle-1"></span>
                    <span class="circle-2"></span>
                    <span class="circle-3"></span>
                    <span class="dollar dollar-1"></span>
                    <span class="dollar dollar-2"></span>
                    <span class="dollar dollar-3"></span>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="top">
                <div class="benefits-part-text">
                    <h5>Optimize</h5>
                    <p>your decisions</p>
                </div>
                <div id="chartContainer" class="chart-container">
                    <svg id="chartSnapContainer" class="svg-container"></svg>
                </div>
            </div>
            <div class="down">
                <div class="benefits-part-text">
                    <h5>Measure</h5>
                    <p>your marketing spend</p>
                </div>
                <div id="sunsetContainer" class="sunset-container">
                    <svg id="sunsetSnapContainer" class="svg-container"></svg>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- TEXT SCREEN 
<div class="section">
    <div class="text-screen">
        <div class="description">
            <p class="bold">
                TRYOUP DELIVERS <span class="fire-text no-wrap">BUSINESS AUTOMATION</span> AND DATA CRUNCHING
                TO EXPEDITE YOUR MOST IMPORTANT BUSINESS DECISIONS.
                TRYOUP TRACKS ALL MARKETING CHANNLELS AND ANALYSES BUSINESS
                DIGITAL BEHAVIOUR THROUGH END-TO-END CAMPAIGN MANAGEMENT
                AND <span class="grape-text">ACCURATE JOB COSTING ANALYSIS</span>
            </p>
        </div>

        <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>-->

<!--PERFORMANCE SCREEN-->
<div class="section">
    <div class="performance-screen">
        <div class="description centered">
            <h4><span>Effective field service business relies on Informed decision-making. <br/>Tryoup's job management tools help you increase your business productivity and selling power</h4>
        </div>
        <div class="performance-grid">
            <div class="item">
                <div>
                    <div class="performance-icon">
                        <!-- <span class="wrap"> -->
                        <span class="icon-engineers">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                            <span class="path6"></span>
                            <span class="path7"></span>
                            <span class="path8"></span>
                            <span class="path9"></span>
                            <span class="path10"></span>
                            <span class="path11"></span>
                            <span class="path12"></span>
                            <span class="path13"></span>
                            <span class="path14"></span>
                        </span>
                        <!-- </span> -->
                    </div>
                    <h5><span>Allocate schedules</span>Push notification/text/email to field staff maximises workforce efficiency with 100 per cent accuracy.</h5>
                </div>
            </div>
            <div class="item">
                <div>
                    <div class="performance-icon">
                    <span class="icon-analyse">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                    </span>
                    </div>
                    <h5><span>Identify strengths</span> Integrated adwords and analytics<br/> pinpoint leads, conversions and revenue.</h5>
                </div>
            </div>
            <div class="item">
                <div>
                    <div class="performance-icon">
                    <span class="icon-compensate">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                    </span>
                    </div>
                    <h5><span>Learn. Perform. Achieve.</span> Reward the best people and<br/> empower mediocre performers to improve.</h5>
                </div>
            </div>
        </div>

        <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>
