<!--BASE SCREEN-->
<div class="section">
    <div class="product-base-screen">
        <div class="left-part">
            <div class="video-wrap">
                <div id="tryoup-video"></div>
                <!-- <iframe id="tryoup-video" src="https://www.youtube.com/embed/5yGVAXRYB24?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                <script>
                    var tag = document.createElement('script');
                    tag.src = "https://www.youtube.com/iframe_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                    var block = document.getElementById('tryoup-video');
                    var size = {
                        x: block.offsetWidth,
                        y: block.offsetWidth / 1.777
                    }
                    
                    function onYouTubeIframeAPIReady() {
                        var player = new YT.Player('tryoup-video', {
                        videoId: '5yGVAXRYB24',
                        width: size.x, 
                        height: size.y,
                        
                        playerVars: {
                            color: "white",
                            // controls: 0,
                            rel: 0,
                            showinfo: 0
                        },
                        events: {
                            'onReady': function() {},
                            'onStateChange': function() {}
                        }
                        });

                        player.setPlaybackQuality('hd1080');
                    }
                </script>
            </div>
        </div>
        <div class="right-part">
            <h2 class="big-text">From calls <br/> to revenue</h2>
            <h3>A platform to business prosperity</h3>
            <button id="footFormAnchor" type="button">Book a Demo <i class="fa fa-caret-right" aria-hidden="true"></i> </button>
        </div>
        <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>

<!-- TEXT SCREEN 
<div class="section">
    <div class="text-screen">
        <div class="description">
            <p class="bold">
                LEARN ABOUT YOUR BUSINESS, INCREASE PERFORMANCE AND ACHIEVE MORE WITH THE ONLY, <span class="grape-text">JOB MANAGEMENT SOFTWARE</span>  
                INCORPORATING MARKETING, JOB MANAGEMENT AND BILLING INTO ONE PLATFORM. 
                ACCURATE <span class="fire-text">ROI REPORTS</span> THAT HELPS YOU MAKE  YOUR MOST IMPORTANT 
                BUSINESS DECISIONS.
            </p>
        </div>
        <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>-->

<!--PRODUCT SCREEN-->
<div class="section">
    <div id="productSection" class="product-screen">
        <div class="product-screen-wrap">
            <span class="product-devices-image"></span>
            <p class="product-text">
                You can connect with your field workers, allocated the best person for a job and 
                increase your customer service response time... The software will discover the most 
                profitable marketing campaigns, jobs and the associated workers.
            </p>
            <div class="description dark show">
                <p class="bold"> KEY FEATURES: </p>
            </div>
            <ul class="features-list">
                <li class="feature">
                    <p class="feature-title">YOUR CALL</p>
                    <p class="feature-text">
                        <span>CALL & LEADS TRACKING:</span>
                        Track online and offline advertising campaigns across 
                        multiple websites and Adwords accounts. Get a complete 
                        picture about your sales agents performance, listen to call 
                        recordings and identify your best performers.
                    </p>
                </li>
                
                <li class="feature">
                    <p class="feature-title">PITCHER PERFECT</p>
                    <p class="feature-text">
                        <span>BE RIGTH UP-TO-DATA:</span>
                        Real-time advice and analysis for maximising ROI. 
                        Performance reports will identify your marketing 
                        campaigns by advertising channels and number of leads 
                        generated from each source/medium.
                    </p>
                </li>

                <li class="feature">
                    <p class="feature-title">ALLOCATE AND ACCUMULATE</p>
                    <p class="feature-text">
                        <span>LOGISTICS THROUGH CLICKS:</span>
                        Immediate schedule and allocate to engineer based on 
                        GEO location and availability. Update and synchronise jobs 
                        on smartphones and tablets. Add costs and materials to 
                        jobs.
                    </p>
                </li>

                <li class="feature">
                    <p class="feature-title">AUTOMATION</p>
                    <p class="feature-text">
                        <span>THE CLOUD'S SILVER LINING:</span>
                        Tools to automate sales, marketing and customer support. 
                        Cut processes and costs, let your workers focus on what 
                        they do best whilst the system is sorting out the rest.
                    </p>
                </li>

                <li class="feature">
                    <p class="feature-title">SMS & LIVE CHAT</p>
                    <p class="feature-text">
                        <span>UPWARDLY MOBILE:</span>
                        Send custom and automatic SMS messages to your 
                        customers. Increase productivity with real-time 
                        chat between your call centre & field staff.
                    </p>
                </li>

                <li class="feature">
                    <p class="feature-title">CLEAN SHEET</p>
                    <p class="feature-text">
                        <span>BECOME PAPERLESS TIGER:</span>
                        Reduce admin and time with our job management 
                        software. Find out accurate profits made and efficiently 
                        work out how much your employees and contractors are 
                        earning.
                    </p>
                </li>

                <li class="feature">
                    <p class="feature-title">BY ALL ACCOUNTS</p>
                    <p class="feature-text">
                        <span>A HOT NUMBER:</span>
                        Our integrated solution expedites communication between 
                        sales, marketing, and accounting departments.
                    </p>
                </li>
            </ul>
            <div class="testimonials">
                <ul class="testimonials-list">
                    <li class="testimonials-item active">
                        <p class="testimonials-item-image"><img src="/media/client-image.png"/></p>
                        <p class="testimonials-item-description">
                            Tryoup have been able to capture our unique business 
                            information and provide insight into the profitability 
                            of our jobs. It is an end to end solution built on a resilient 
                            platform. We deployed this application as a cornerstone 
                            of our business operation.
                            <span>Ido Durra, General <br/> Manager All Service 4 U</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <a class="down-pointer dark" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>

<div class="section">
    <div id="integrationSection" class="integration-screen">
        <div class="integration-screen-wrap">
                <div class="description centered dark">
                    <p class="bold">
                        Integration With
                    </p>
                </div>
            <div id="integrationContainer" class="integration-container">
                <svg id="integrationSnapContainer" class="svg-container"></svg>
            </div>
        </div>
        <a class="down-pointer dark" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>