<!--BASE SCREEN-->
<div class="section">
    <div class="solution-base-screen">
        <div class="left-part"> </div>
        <div class="right-part">
            <h2 class="big-text">Solution</h2>
            <h3>Digital behaviour & job costing analysis</h3>
            <button id="footFormAnchor" type="button">Book a Demo <i class="fa fa-caret-right" aria-hidden="true"></i> </button>
        </div>
        <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>

<!--FLOW SCREEN-->
<div class="section"> 
    <div class="flow-screen">
        <div class="flow-screen-wrap">
            <!-- <div class="description centered">
                <h4>Tracking multiple channels <br> performance</h4>
            </div> -->

            <div class="description centered dark">
                <p class="bold">
                    Designed to work with your marketing campaigns, Tryoup’s unique 
                    software tracks advertising, marketing, call centre, sales and 
                    accounting data to produce precise and authentic CRM performance reports.
                </p>
            </div>
            
            <div id="flowContainer" class="flow-container">
                <svg id="flowSnapContainer" class="svg-container"></svg>
            </div>
        </div>
        <a class="down-pointer dark" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>

<!-- BENEFITS SCREEN -->
<div class="section">
    <div class="benefits-screen">
        <div class="benefits-screen-item left">
            <div id="locatorContainer" class="illustration locator-container">
                    <div class="locator">
                        <span class="disc"></span>
                        <span class="circle-1"></span>
                        <span class="circle-2"></span>
                        <span class="circle-3"></span>
                        <span class="dollar dollar-1"></span>
                        <span class="dollar dollar-2"></span>
                        <span class="dollar dollar-3"></span>
                    </div>
            </div>
            <div class="item-description">
                <p class="title">On the right track</p>
                <p class="text">
                    Track inbound leads and calls from multiple telephone numbers, 
                    websites and landing pages. Interpret a customer’s journey from 
                    social media through to organic search and digital discovery. Embrace 
                    the value of print and outdoor advertising as Tryoup tracks offline 
                    marketing activity and initiatives.
                </p>
            </div>
        </div>
        <div class="benefits-screen-item right">
            <div id="sunsetContainer" class="illustration sunset-container">
                <svg id="sunsetSnapContainer" class="svg-container"></svg>
            </div>
            <div class="item-description">
                <p class="title">Made to measure</p>
                <p class="text">
                    Your company data is sliced, diced and presented in smart, 
                    selected widgets and graphic visuals with real-time business analysis and 
                    instant value. Accurately measure marketing spend, sales agents’ performances and 
                    give your business an optimum return on investment.
                </p>
            </div>
        </div>
        <div class="benefits-screen-item left">
            <div id="chartContainer" class="illustration chart-container">
                <svg id="chartSnapContainer" class="svg-container"></svg>
            </div>
            <div class="item-description">
                <p class="title">Optimise ROI</p>
                <p class="text">
                    Get the bigger picture from information gathered day 
                    in day out as Tryoup delivers the data crunching power 
                    to make your company’s important business decisions.
                </p>
            </div>
        </div>
        
        <a class="down-pointer" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>

<!-- SOLUTIONS SCREEN -->
<div class="section">
    <div class="solution-screen">
        <p class="solution-text">
            Tryoup’s fast and accurate performance reports incorporate and analyse 
            multiple AdWords, organic search, websites and offline campaign 
            data for focused and informed decisions on campaigns.
        </p>

        <div class="text-grid">
            <div class="column">
                <div class="with-icon">
                    <span class="icon-call-centre">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                        <span class="path7"></span>
                        <span class="path8"></span>
                        <span class="path9"></span>
                        <span class="path10"></span>
                    </span>
                    <p class="title">Call & Leads Tracking</p>
                    <ul class="text-list">
                        <li>Track online and offline advertising campaigns</li>
                        <li>Track multiple website</li>
                        <li>Integrate with multiple Adwords accounts</li>
                        <li>Listen to audio recording</li>
                        <li>Send automatic SMS messages to your customers</li>
                        <li>Track sales agents performance</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="with-icon">
                    <span class="icon-allocate">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                        <span class="path7"></span>
                        <span class="path8"></span>
                        <span class="path9"></span>
                        <span class="path10"></span>
                        <span class="path11"></span>
                        <span class="path12"></span>
                        <span class="path13"></span>
                    </span>
                    <p class="title">Workflow & Job Management</p>
                    <ul class="text-list">
                        <li>allocate a job/ticket to the closest engineer based on geo location</li>
                        <li>Auto-complete and validate postal addresses</li>
                        <li>Traffic light system – Red, Amber and Green flags for jobs and their status</li>
                        <li>Mobile App –send jobs & notifications to engineers on site through our mobile app</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="with-icon">
                    <span class="icon-jobsheets">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                        <span class="path7"></span>
                        <span class="path8"></span>
                        <span class="path9"></span>
                        <span class="path10"></span>
                    </span>
                    <p class="title">Calls & Job Costing</p>
                    <ul class="text-list">
                        <li>Performance reports</li>
                        <li>Work out cost per click, per call & per job</li>
                        <li>See how much each campaign costs</li>
                        <li>View how many unique calls were made</li>
                        <li>Find out accurate profits made</li>
                        <li>Efficiently work out how much your employees and contractors are earning</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="testimonials">
            <ul class="testimonials-list">
                <li class="testimonials-item active">
                    <p class="testimonials-item-image"><img src="/media/client-image.png"/></p>
                    <p class="testimonials-item-description">
                        Tryoup have been able to capture our unique business 
                        information and provide insight into the profitability 
                        of our jobs. It is an end to end solution built on a resilient 
                        platform. We deployed this application as a cornerstone 
                        of our business operation.
                        <span>Ido Durra, General <br/> Manager All Service 4 U</span>
                    </p>
                </li>
            </ul>
        </div>

        <div class="why">
            <p class="why-title">Why Tryoup?</p>
            <ul>
                <li>
                    So we do everything that most CRM’s and dispatching 
                    software are doing but, we also integrate with the 
                    marketing to work out accurate ROI. 
                </li>
                <li>
                    For business owners Tryoup is a one stop shop; 
                    no need call tracking software in addition to CRM, 
                    or rely on Google Analytics and/or digital marketing 
                    agencies reports.
                </li>
                <li>
                    No human intervention is required to produce the 
                    job costing reporting –saving resources and increasing 
                    accuracy by avoiding human errors.
                </li>
                <li>
                    Focusing around automation, job cost analysis and performance
                </li>
                <li>
                    Tracking sales team and account managers performance.
                </li>
            </ul>
        </div>

        <a class="down-pointer dark" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</div>