@import "variables";

@font-face {
  font-family: 'tryoup-landing';
  src:  url('#{$icomoon-font-path}/tryoup-landing.eot?jnh1b7');
  src:  url('#{$icomoon-font-path}/tryoup-landing.eot?jnh1b7#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/tryoup-landing.ttf?jnh1b7') format('truetype'),
    url('#{$icomoon-font-path}/tryoup-landing.woff?jnh1b7') format('woff'),
    url('#{$icomoon-font-path}/tryoup-landing.svg?jnh1b7#tryoup-landing') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tryoup-landing' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-engineers .path1 {
  &:before {
    content: $icon-engineers-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-engineers .path2 {
  &:before {
    content: $icon-engineers-path2;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-engineers .path3 {
  &:before {
    content: $icon-engineers-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-engineers .path4 {
  &:before {
    content: $icon-engineers-path4;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-engineers .path5 {
  &:before {
    content: $icon-engineers-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-engineers .path6 {
  &:before {
    content: $icon-engineers-path6;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-engineers .path7 {
  &:before {
    content: $icon-engineers-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-engineers .path8 {
  &:before {
    content: $icon-engineers-path8;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-engineers .path9 {
  &:before {
    content: $icon-engineers-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-engineers .path10 {
  &:before {
    content: $icon-engineers-path10;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-engineers .path11 {
  &:before {
    content: $icon-engineers-path11;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-engineers .path12 {
  &:before {
    content: $icon-engineers-path12;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-engineers .path13 {
  &:before {
    content: $icon-engineers-path13;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-engineers .path14 {
  &:before {
    content: $icon-engineers-path14;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.icon-accountant {
  &:before {
    content: $icon-accountant;
  }
}
.icon-allocate .path1 {
  &:before {
    content: $icon-allocate-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-allocate .path2 {
  &:before {
    content: $icon-allocate-path2;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-allocate .path3 {
  &:before {
    content: $icon-allocate-path3;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-allocate .path4 {
  &:before {
    content: $icon-allocate-path4;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-allocate .path5 {
  &:before {
    content: $icon-allocate-path5;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-allocate .path6 {
  &:before {
    content: $icon-allocate-path6;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-allocate .path7 {
  &:before {
    content: $icon-allocate-path7;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-allocate .path8 {
  &:before {
    content: $icon-allocate-path8;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-allocate .path9 {
  &:before {
    content: $icon-allocate-path9;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-allocate .path10 {
  &:before {
    content: $icon-allocate-path10;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-allocate .path11 {
  &:before {
    content: $icon-allocate-path11;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-allocate .path12 {
  &:before {
    content: $icon-allocate-path12;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-allocate .path13 {
  &:before {
    content: $icon-allocate-path13;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-automation .path1 {
  &:before {
    content: $icon-automation-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-automation .path2 {
  &:before {
    content: $icon-automation-path2;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-automation .path3 {
  &:before {
    content: $icon-automation-path3;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-call-centre .path1 {
  &:before {
    content: $icon-call-centre-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-call-centre .path2 {
  &:before {
    content: $icon-call-centre-path2;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-call-centre .path3 {
  &:before {
    content: $icon-call-centre-path3;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-call-centre .path4 {
  &:before {
    content: $icon-call-centre-path4;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-call-centre .path5 {
  &:before {
    content: $icon-call-centre-path5;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-call-centre .path6 {
  &:before {
    content: $icon-call-centre-path6;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-call-centre .path7 {
  &:before {
    content: $icon-call-centre-path7;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-call-centre .path8 {
  &:before {
    content: $icon-call-centre-path8;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-call-centre .path9 {
  &:before {
    content: $icon-call-centre-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-call-centre .path10 {
  &:before {
    content: $icon-call-centre-path10;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-intergate {
  &:before {
    content: $icon-intergate;
  }
}
.icon-jobsheets .path1 {
  &:before {
    content: $icon-jobsheets-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path2 {
  &:before {
    content: $icon-jobsheets-path2;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path3 {
  &:before {
    content: $icon-jobsheets-path3;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path4 {
  &:before {
    content: $icon-jobsheets-path4;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path5 {
  &:before {
    content: $icon-jobsheets-path5;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path6 {
  &:before {
    content: $icon-jobsheets-path6;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path7 {
  &:before {
    content: $icon-jobsheets-path7;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path8 {
  &:before {
    content: $icon-jobsheets-path8;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-jobsheets .path9 {
  &:before {
    content: $icon-jobsheets-path9;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-jobsheets .path10 {
  &:before {
    content: $icon-jobsheets-path10;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-leads-quotes .path1 {
  &:before {
    content: $icon-leads-quotes-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-leads-quotes .path2 {
  &:before {
    content: $icon-leads-quotes-path2;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-leads-quotes .path3 {
  &:before {
    content: $icon-leads-quotes-path3;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-leads-quotes .path4 {
  &:before {
    content: $icon-leads-quotes-path4;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-leads-quotes .path5 {
  &:before {
    content: $icon-leads-quotes-path5;  
    margin-left: -1em;  
    color: rgb(245, 244, 244);
  }
}
.icon-leads-quotes .path6 {
  &:before {
    content: $icon-leads-quotes-path6;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-performance {
  &:before {
    content: $icon-performance;
  }
}
.icon-compensate .path1 {
  &:before {
    content: $icon-compensate-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-compensate .path2 {
  &:before {
    content: $icon-compensate-path2;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-compensate .path3 {
  &:before {
    content: $icon-compensate-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-compensate .path4 {
  &:before {
    content: $icon-compensate-path4;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-compensate .path5 {
  &:before {
    content: $icon-compensate-path5;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-compensate .path6 {
  &:before {
    content: $icon-compensate-path6;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-analyse .path1 {
  &:before {
    content: $icon-analyse-path1;  
    color: rgb(192, 60, 84);
  }
}
.icon-analyse .path2 {
  &:before {
    content: $icon-analyse-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-analyse .path3 {
  &:before {
    content: $icon-analyse-path3;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}
.icon-analyse .path4 {
  &:before {
    content: $icon-analyse-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-analyse .path5 {
  &:before {
    content: $icon-analyse-path5;  
    margin-left: -1em;  
    color: rgb(192, 60, 84);
  }
}

