$icomoon-font-path: "../font/tryoup-landing" !default;

$icon-engineers-path1: "\e906";
$icon-engineers-path2: "\e93a";
$icon-engineers-path3: "\e93b";
$icon-engineers-path4: "\e93c";
$icon-engineers-path5: "\e93d";
$icon-engineers-path6: "\e93e";
$icon-engineers-path7: "\e93f";
$icon-engineers-path8: "\e940";
$icon-engineers-path9: "\e941";
$icon-engineers-path10: "\e942";
$icon-engineers-path11: "\e943";
$icon-engineers-path12: "\e944";
$icon-engineers-path13: "\e945";
$icon-engineers-path14: "\e946";
$icon-mobile: "\e938";
$icon-accountant: "\e905";
$icon-allocate-path1: "\e907";
$icon-allocate-path2: "\e908";
$icon-allocate-path3: "\e909";
$icon-allocate-path4: "\e90a";
$icon-allocate-path5: "\e90b";
$icon-allocate-path6: "\e90c";
$icon-allocate-path7: "\e90d";
$icon-allocate-path8: "\e90e";
$icon-allocate-path9: "\e90f";
$icon-allocate-path10: "\e910";
$icon-allocate-path11: "\e911";
$icon-allocate-path12: "\e912";
$icon-allocate-path13: "\e913";
$icon-automation-path1: "\e914";
$icon-automation-path2: "\e915";
$icon-automation-path3: "\e916";
$icon-call-centre-path1: "\e917";
$icon-call-centre-path2: "\e918";
$icon-call-centre-path3: "\e919";
$icon-call-centre-path4: "\e91a";
$icon-call-centre-path5: "\e91b";
$icon-call-centre-path6: "\e922";
$icon-call-centre-path7: "\e923";
$icon-call-centre-path8: "\e924";
$icon-call-centre-path9: "\e925";
$icon-call-centre-path10: "\e926";
$icon-intergate: "\e927";
$icon-jobsheets-path1: "\e928";
$icon-jobsheets-path2: "\e929";
$icon-jobsheets-path3: "\e92a";
$icon-jobsheets-path4: "\e92b";
$icon-jobsheets-path5: "\e92c";
$icon-jobsheets-path6: "\e92d";
$icon-jobsheets-path7: "\e92e";
$icon-jobsheets-path8: "\e92f";
$icon-jobsheets-path9: "\e930";
$icon-jobsheets-path10: "\e931";
$icon-leads-quotes-path1: "\e932";
$icon-leads-quotes-path2: "\e933";
$icon-leads-quotes-path3: "\e934";
$icon-leads-quotes-path4: "\e935";
$icon-leads-quotes-path5: "\e936";
$icon-leads-quotes-path6: "\e937";
$icon-performance: "\e939";
$icon-compensate-path1: "\e91c";
$icon-compensate-path2: "\e91d";
$icon-compensate-path3: "\e91e";
$icon-compensate-path4: "\e91f";
$icon-compensate-path5: "\e920";
$icon-compensate-path6: "\e921";
$icon-analyse-path1: "\e900";
$icon-analyse-path2: "\e901";
$icon-analyse-path3: "\e902";
$icon-analyse-path4: "\e903";
$icon-analyse-path5: "\e904";