//colors
$dark: #202020;
$blue: #2A2F3F;
$red: #C03C54;
$yellow: #FEC92A;
$lighter-grey: #F5F4F4;
$darker-grey: #3D3E3F;
$grey: #E2E2E2;
$water: #30CFD0;
$violet: #a8a5aa;
$grape: #45427F;

//values
$base-offset: 16px;
$icon-size: 3vmin;

//Screen Size
$screen-xs: 320px;
$screen-xs-min: $screen-xs;

$screen-sm: 620px;
$screen-sm-min: $screen-sm;

$screen-xsc: ($screen-xs + ($screen-sm - $screen-xs) / 2);
$screen-xsc-min: $screen-xsc;

$screen-md: 800px;
$screen-md-min: $screen-md;

$screen-smc: ($screen-sm + ($screen-md - $screen-sm) / 2);
$screen-smc-min: $screen-smc;

$screen-lg: 1024px;
$screen-lg-min: $screen-lg;

$screen-mdc: ($screen-md + ($screen-lg - $screen-md) / 2);
$screen-mdc-min: $screen-mdc;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);