@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/open-sans.eot');
    src: url('../font/OpenSans/open-sans.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans/OpenSans.woff') format('woff'),
    url('../font/OpenSans/OpenSans.otf') format("opentype"),
    url('../font/OpenSans/OpenSans.ttf') format('truetype'),
    url('../font/OpenSans/OpenSans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../font/Lato-Bold/Lato-Bold.eot');
    src: url('../font/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Bold/Lato-Bold.woff') format('woff'),
    url('../font/Lato-Bold/Lato-Bold.otf') format("opentype"),
    url('../font/Lato-Bold/Lato-Bold.ttf') format('truetype'),
    url('../font/Lato-Bold/Lato-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../font/Lato-Light/Lato-Light.eot');
    src: url('../font/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Light/Lato-Light.woff') format('woff'),
    // url('../font/Lato-Light/Lato-Light.otf') format("opentype"),
    url('../font/Lato-Light/Lato-Light.ttf') format('truetype');
    // url('../font/Lato-Light/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../font/Lato-Regular/Lato-Regular.eot');
    src: url('../font/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Regular/Lato-Regular.woff') format('woff'),
    // url('../font/Lato-Regular/Lato-Regular.otf') format("opentype"),
    url('../font/Lato-Regular/Lato-Regular.ttf') format('truetype');
    // url('../font/Lato-Regular/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat-Bold/Montserrat-Bold.eot');
    src: url('../font/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('../font/Montserrat-Bold/Montserrat-Bold.otf') format("opentype"),
    url('../font/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
    url('../font/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../font/Montserrat-ExtraLight/Montserrat-ExtraLight.eot');
    src: url('../font/Montserrat-ExtraLight/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-ExtraLight/Montserrat-ExtraLight.woff') format('woff'),
    url('../font/Montserrat-ExtraLight/Montserrat-ExtraLight.otf') format("opentype"),
    url('../font/Montserrat-ExtraLight/Montserrat-ExtraLight.ttf') format('truetype'),
    url('../font/Montserrat-ExtraLight/Montserrat-ExtraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../font/Montserrat-Light/Montserrat-Light.eot');
    src: url('../font/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Light/Montserrat-Light.woff') format('woff'),
    url('../font/Montserrat-Light/Montserrat-Light.otf') format("opentype"),
    url('../font/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
    url('../font/Montserrat-Light/Montserrat-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/Montserrat-Medium/Montserrat-Medium.eot');
    src: url('../font/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
    url('../font/Montserrat-Medium/Montserrat-Medium.otf') format("opentype"),
    url('../font/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'),
    url('../font/Montserrat-Medium/Montserrat-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../font/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('../font/Montserrat-Regular/Montserrat-Regular.otf') format("opentype"),
    url('../font/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
    url('../font/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}