.footer {
    padding: 10vmin 10vw 5vmin;
    height: 40vh;
    margin: 0 -5vmin;

    @include clear();

    position: relative;
    background-color: $darker-grey;

    &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        
    }

    &::after {
        @include backgroundImage('no-back-tile.png');
        background-repeat: repeat;
        background-position: center top;
        @media screen and (orientation: portrait) {
            background-size: 5px;
        }
    }

    & .link-list {
        position: relative;
        z-index: 2;
        padding: 0 5vmin;
        float: left;
        &-title {
            font-family: Montserrat-Bold;
            color: #fff;
            font-size: 2.5vmin;
            margin-bottom: 2vmin;
            text-transform: uppercase;
        }

        & ul {
            li {
                a {
                    font-family: Montserrat-Light;
                    color: #fff;
                    font-size: 2vmin;
                    line-height: 3vmin;
                    display: block;

                    &:hover {
                        @include transition(.3s);
                        color: $water;
                        text-decoration: underline;
                    }
                }
            }
        }

        &.tryoup {
            float: right;

            & .link-list-title {
                font-size: 3vmin;
                text-align: right;
                font-family: Lato-Bold;
                & > span {
                  color: $water;      
                }
            }

            & ul {
                margin: 0 -1vmin;
                li {
                    padding: 0 1vmin;
                    float: left;
                    a {
                        display: block;
                        border-radius: 100%;
                        border: 1px solid #fff;
                        &::before {
                            display: block;
                            font-family: FontAwesome;
                            font-size: 2.5vmin;
                            line-height: 5vmin;
                            text-align: center;
                            width: 5vmin;
                            height: 5vmin;
                        }
                        &.envelope::before {content: '\f003';}
                        &.fb::before {content: '\f09a';}
                        &.twitter::before {content: '\f099';}

                        &:hover {
                            text-decoration: none;
                            border-color: $water;
                        }
                    }
                }
            }
        }
    }

    & .terms-and-conditions {

        position: relative;
        z-index: 2;
        margin: 10vmin -1vmin 0;
        width: 100%;
        text-align: center;

        font-size: 2vmin;
        color: #fff;

        & > * {
            padding: 0 1vmin;
        }

        & > a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media screen and (orientation: portrait) {
        padding: 15vmin 10vw;
        
        height: auto;
        & .link-list {
            width: 100%;
            text-align: center;
            &.faq, &.blog {
                display: none;
            }
            &.contacts {
                margin-bottom: 10vmin;
                & .link-list-title {
                    font-size: 5vmin;
                    font-family: Lato-Bold;
                }
                & ul li a {
                    font-family: Lato-Light;
                    font-size: 5vmin;
                    line-height: 6vmin;
                }
            }

            &.social {
                & .link-list-title {
                    font-size: 5vmin;
                    text-align: center;
                }
                & ul {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    float: left;
                }
            }
        }
        & .terms-and-conditions {
            span {
                display: block;
                font-size: 2.5vmin;
            }
        }
    }
}