header {
    $animation-time: .3s;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;

    & .header-wrap {
        max-width: 1500px;
        margin: 0 auto;
        padding: 2vmin 20px;
        @include clear();
    }

    & .logo-wrap {
        position: relative;
        float: left;
        left: 0;
        transform: translateX(0);
        @include transition($animation-time);
    }

    & .logo {
        margin: 0;
        font-family: Lato-Bold;
        color: #fff;
        @include transition($animation-time);
        line-height: $base-offset * 2.5;
        font-size: 24px;
        float: left;
        text-transform: uppercase;
        position: relative;    
    }

    & .nav-list {
        float: right;
        margin: 0 (-2vmin);

        opacity: 1;
        transform: translateX(0vw);
        @include transition($animation-time);

        li {
            float: left;
            padding: 0 $base-offset;
            a {
                font-family: Montserrat-ExtraLight;
                display: block;
                line-height: $base-offset * 1.5;
                margin: $base-offset / 2 0;
                font-size: 16px;
                color: #fff;
                @include transition($animation-time);
                border-bottom: 1px solid transparent;
                text-transform: uppercase;
                &:hover {
                    color: $water;
                    border-color: $water;
                    @include transition(.3s);
                }
            }
        }
    }

    & .menu-toggle {
        float: left;
        padding: 1.5vmin;
        border: 1px solid #fff;
        @include transition($animation-time);
        border-radius: 100%;
        margin-left: 2vmin;
        &::before {
            content: '\f0c9';
            float: left;
            color: #fff;
            @include transition($animation-time);
            font-family: FontAwesome;
            display: block;
            font-size: 16px;
            line-height: $base-offset;
            width: $base-offset;
            height: $base-offset;
            text-align: center;
        }
        
        opacity: 0;
        transform: translateX(100vw);
        @include transition($animation-time);
    }

    &.dark {
        // background-color: $dark;
        & .logo {
            color: $darker-grey;
            @include transition($animation-time);
        }

        & .nav-list li a {
            color: $darker-grey;
            @include transition($animation-time);
        }

        & .menu-toggle {
            border-color: $darker-grey;
            @include transition($animation-time);
            &::before {
                color: $darker-grey;
                @include transition($animation-time);
            }
        }
    }

    &.compact {
        & .logo-wrap {
            left: calc(100%);
            transform: translateX(-100%);
            @include transition($animation-time);

            & .logo {
                & span {
                    @include transition($animation-time);
                }  
            }

            & .menu-toggle {
                opacity: 1;
                transform: translateX(0);
                @include transition($animation-time);
            }
        }
        
        & .nav-list {
            opacity: 0;
            transform: translateX(50vw);
            @include transition($animation-time);
        }
    }

    &.is-mobile {
        & .logo-wrap {
            float: none;
            @include overflow();
            & .menu-toggle {
                opacity: 1;
                transform: translateX(0);
                float: right;
            }
        }

        & .nav-list {
            display: none;
        }
    }

    @media screen and (orientation: portrait) {

        & .header-wrap {
            padding: 3vmin 20px;
            background-color: $darker-grey;
        }

        & .logo {
            font-size: 5vmin;
            line-height: 8vmin;
        }

        & .nav-list {
            display: none;
        }
    }

    @media screen and (max-width: $screen-md) and (orientation: landscape) {
        & .logo {
            font-size: 3vmin;
            line-height: 5vmin;
        }

        & .nav-list {
            li {
                padding: 0 1vmin;
                a {
                    line-height: 2vmin;
                    font-size: 2vmin;
                    margin: 1.5vmin 0;
                }
            }
        }

        & .menu-toggle {
            padding: .5vmin;
            border: none;
            &::before {
                font-size: 4vmin;
                line-height: 4vmin;
                width: 4vmin;
                height: 4vmin;
                text-align: center;
            }
            
            opacity: 0;
            transform: translateX(100vw);
            @include transition($animation-time);
        }
    }
}