@mixin mainBack() {
    @include transition(.3s);
    background: rgb(58,181,176);
    background: -moz-linear-gradient(-45deg, rgba(58,181,176,1) 0%, rgba(61,153,190,1) 37%, rgba(86,49,122,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(58,181,176,1) 0%,rgba(61,153,190,1) 37%,rgba(86,49,122,1) 100%);
    background: linear-gradient(135deg, rgba(58,181,176,1) 0%,rgba(61,153,190,1) 37%,rgba(86,49,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab5b0', endColorstr='#56317a',GradientType=1 );
}

@mixin productBack() {
    @include transition(.3s);
    background: rgb(247,140,160);
    background: -moz-linear-gradient(45deg, rgba(247,140,160,1) 0%, rgba(249,116,143,1) 36%, rgba(253,134,140,1) 69%, rgba(254,154,139,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(247,140,160,1) 0%,rgba(249,116,143,1) 36%,rgba(253,134,140,1) 69%,rgba(254,154,139,1) 100%);
    background: linear-gradient(45deg, rgba(247,140,160,1) 0%,rgba(249,116,143,1) 36%,rgba(253,134,140,1) 69%,rgba(254,154,139,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78ca0', endColorstr='#fe9a8b',GradientType=1 );
}

@mixin solutionBack() {
    @include transition(.3s);
    background: rgb(120,115,245);
    background: -moz-linear-gradient(45deg, rgba(120,115,245,1) 0%, rgba(236,119,171,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(120,115,245,1) 0%,rgba(236,119,171,1) 100%);
    background: linear-gradient(45deg, rgba(120,115,245,1) 0%,rgba(236,119,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7873f5', endColorstr='#ec77ab',GradientType=1 );
}

@mixin faqBack() {
    @include transition(.3s);
    background: rgb(255,78,80);
    background: -moz-linear-gradient(45deg, rgba(255,78,80,1) 0%, rgba(246,209,33,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,78,80,1) 0%,rgba(246,209,33,1) 100%);
    background: linear-gradient(45deg, rgba(255,78,80,1) 0%,rgba(246,209,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4e50', endColorstr='#f6d121',GradientType=1 );
}

@mixin contactsBack() {
    @include transition(.3s);
    background: rgb(32,156,255);
    background: -moz-linear-gradient(-45deg, rgba(32,156,255,1) 0%, rgba(104,224,207,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(32,156,255,1) 0%,rgba(104,224,207,1) 100%);
    background: linear-gradient(135deg, rgba(32,156,255,1) 0%,rgba(104,224,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#209cff', endColorstr='#68e0cf',GradientType=1 );
}

.menu-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20vmin 10vw;

    z-index: 25;
    transform: translateY(-120vh);
    @include transition(.3s);

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        
        opacity: 0;
        transition: opacity .6s;
    }

    &.show {
        transform: translateY(0);
        @include transition(.3s);
    }
    & ul {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 10vw;
        transform: translateY(-50%);
        & li {
            $dot-size: 4vmin;
            position: relative;
            &::before {
                content: '';
                font-family: FontAwesome;
                color: #fff;
                position: absolute;
                left: -($dot-size + 2vmin);
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover {
                &::before {
                    content: '\f10c';
                }
            }
            & a {
                display: block;
                font-family: Lato-Bold;
                font-size: 7vmin;
                padding: 1vmin 0;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

&.index { .menu-screen { @include mainBack(); & ul li.index::before {content: '\f111';} }  }
&.product { .menu-screen { @include productBack(); & ul li.product::before {content: '\f111';} } }
&.solution { .menu-screen { @include solutionBack(); & ul li.solution::before {content: '\f111';} } }
&.faq { .menu-screen { @include faqBack(); & ul li.faq::before {content: '\f111';} } }
&.contacts { .menu-screen { @include contactsBack(); & ul li.contacts::before {content: '\f111';} } }

&.index,
&.product,
&.solution,
&.faq,
&.contacts {
    .menu-screen.index { &.before::before, &.after::after {@include mainBack(); opacity: 1; transition: opacity .6s} }
    .menu-screen.product { &.before::before, &.after::after {@include productBack(); opacity: 1; transition: opacity .6s} }
    .menu-screen.solution { &.before::before, &.after::after {@include solutionBack(); opacity: 1; transition: opacity .6s} }
    .menu-screen.faq { &.before::before, &.after::after {@include faqBack(); opacity: 1; transition: opacity .6s} }
    .menu-screen.contacts { &.before::before, &.after::after {@include contactsBack(); opacity: 1; transition: opacity .6s} }
}