@import "normalize";
@import "config";
@import "font";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-grid";
@import "tryoup-landing-font/style";
@import "mixins";

*, *::before, *::after {
	@include box-sizing(border-box);
}

body {

	background-color: $lighter-grey;
	font-family: OpenSans;
	color: $dark;
	font-size: 16px;

	-ms-overflow-style: none;
	// overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar { 
		display: none; 
	}
	
	a {
		color: inherit;
		text-decoration: none;
		&:hover, &:focus {
			color: inherit;
			text-decoration: none;
		}
	}

	p {
		margin: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&::after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #fff;
		z-index: 50;
	}

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 55;
		@include backgroundImage('preloader.gif');
		background-position: center;
		background-size: 20vmin;
		background-color: $grey;
	}

	#fullPage {
		scroll-behavior: smooth;
	}

	&.ready {
		&::before {
			transform: translateY(-100vh);
			@include transition(.7s);
		}
		&::after {
			transform: translateY(-100vh);
			@include transition(.7s);
		}
	}

	&.blockScroll {
		@include overflow();
	}

	span[class^="icon-"] {
		position: relative;
		& span[class^="path"] {
			// float: left;
			position: absolute;
			top: 0;
			left: 1em;
		}

		& span.path1 {
			position: static;
		}
	}

	.clear {
		@include clear();
	}

	& .head-back {
		z-index: -1;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		background-size: cover;
		background-position: center;
	}

	&.show-base-back .head-back {
		@include backgroundImage('base-page-back.jpg');
	}

	&.show-product-back .head-back,
	&.show-solution-back .head-back {
		background: rgb(48,207,208);
		background: -moz-linear-gradient(-45deg, rgba(48,207,208,1) 0%, rgba(51,8,103,1) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
		background: linear-gradient(135deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30cfd0', endColorstr='#330867',GradientType=1 );

		&::after, &::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&::after {
			@include backgroundImage('product-gears-back.png');
			background-size: 100% auto;
		}

		&::before {
			@include backgroundImage('no-back-tile.png');
			background-repeat: repeat;
            @media screen and (orientation: portrait) {
                background-size: 5px;
            }
		}
	}

	& .underwater {
		background: rgb(50,61,131);
		background: -moz-linear-gradient(top, rgba(50,61,131,1) 0%, rgba(48,206,207,1) 100%);
		background: -webkit-linear-gradient(top, rgba(50,61,131,1) 0%,rgba(48,206,207,1) 100%);
		background: linear-gradient(to bottom, rgba(50,61,131,1) 0%,rgba(48,206,207,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323d83', endColorstr='#30cecf',GradientType=0 );
	}

	& .fire-text {
		&.no-wrap {
			white-space: nowrap;
		}
		display: inline-block;
		background: rgb(255,78,80);
		background: -moz-linear-gradient(left, rgba(255,78,80,1) 0%, rgba(249,212,35,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,78,80,1) 0%,rgba(249,212,35,1) 100%);
		background: linear-gradient(to right, rgba(255,78,80,1) 0%,rgba(249,212,35,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4e50', endColorstr='#f9d423',GradientType=1 );

		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	& .grape-text {
		&.no-wrap {
			white-space: nowrap;
		}
		display: inline-block;
		background: rgb(124,100,213);
		background: -moz-linear-gradient(left, rgba(124,100,213,1) 0%, rgba(255,5,124,1) 100%);
		background: -webkit-linear-gradient(left, rgba(124,100,213,1) 0%,rgba(255,5,124,1) 100%);
		background: linear-gradient(to right, rgba(124,100,213,1) 0%,rgba(255,5,124,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c64d5', endColorstr='#ff057c',GradientType=1 );

		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media screen and (orientation: portrait) {
		&.show-product-back .head-back, &.show-solution-back .head-back {
			background: none !important;
		}
    }

	@import "header";
	@import "menu-screen";
	@import "content/content";
	@import "components/components";
	@import "footer";
}

.wide {width: 100%; display: block}