.wrap-content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}


.button {
    margin: 0;
    background: none;
    font-family: Montserrat-ExtraLight;
    font-size: 3vmin;
    color: #fff;
    padding: 13px 20px;
    display: inline-block;
    overflow: hidden;
    background: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-decoration: none;
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    & .fa {
        margin-left: 1vmin;
    }
    + .button {margin-left: 15px;}
}


.button-darkblue {
    background: #45427F;
    &:hover {
        @include transition(.6s);
        color: #fff;
        background: #1e1e3c;
    }
}

.button-orange {
    &::after {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include transition(.6s);
        height: 100%;
        width: 250%;

        background: #FD8F3A;
        background: -moz-linear-gradient(45deg, rgba(#F9D423,1) 0%, rgba(#FD8F3A,1) 25%, rgba(#FF4E50,1) 50%, rgba(#FD8F3A,1) 75%, rgba(#F9D423,1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(#F9D423,1) 0%, rgba(#FD8F3A,1) 25%, rgba(#FF4E50,1) 50%, rgba(#FD8F3A,1) 75%, rgba(#F9D423,1) 100%);
        background: linear-gradient(45deg, rgba(#F9D423,1) 0%, rgba(#FD8F3A,1) 25%, rgba(#FF4E50,1) 50%, rgba(#FD8F3A,1) 75%, rgba(#F9D423,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9D423', endColorstr='#FF4E50',GradientType=1 );
    }

    &:focus {
        outline: none;
    }

    &:hover {
        &::after {
            @include transition(.6s);
            left: -125%;
        }
    }
}


.base-screen {
    position: relative;
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    @include overflow();

    h2, h3 {
        color: #fff;
        font-weight: 100;
        margin: 0;
        margin-bottom: 1vmin;
    }

    h2 {
        font-size: 2.5vmin;
        font-family: Montserrat-ExtraLight;
        margin: 25vmin 0 6vmin 0;
        padding: 1vmin 2vmin;
        display: inline-block;
        background-color: $grape;
    }

    h3 {
        font-family: Lato-Light;
        font-size: 5vmin;
        display: inline-block;
        position: relative;
        margin-left: 30px;
        & > span {
            font-size: 5vmin;
        }

        &::before {
            content: '';
            @include backgroundSvgImage('rectangle.svg');
            display: block;
            position: absolute;
            top: -4vmin;
            left: -30px;
            right: -15vmin;
            bottom: -4vmin;
            background-size: 100% 100%;
        }
    }

    & .small-text {
        font-size: 12pt;
        font-family: Lato-Light;
        color: #fff;
        margin: 8vmin 0 30pt 0;
        text-shadow: 1px 1px 1px #000;
    }

    @media screen and (orientation: portrait) {
        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &::before {
            @include backgroundImage('no-back-tile.png');
            background-repeat: repeat;
            background-position: left bottom;
            @media screen and (orientation: portrait) {
                background-size: 5px;
            }
        }

        &::after {
            left: -10vw;
            top: 0;
            @include backgroundImage('base-page-back-mob.png');
            background-size: 120vw auto;
        }

        h2 {
            font-family: Lato-Light;
            font-size: 15px;
            background: none;
            text-align: center;
            padding: 0 5vmin;
            margin: 20vh auto 5vmin;
            width: 100%;
        }

        h3 {
            font-size: 40px;
            font-family: Lato-Regular;
            text-align: center;
            padding: 0;
            margin: 0 0 30px;

            & span { font-size: 15vmin; font-family: Lato-Bold; }
            &::before {
                display: none;
            }
        }

        & .small-text {
            display: none;
        }

        .button {
            width: 80%;
            margin: 0 auto 20px;
            display: block;
        }

    }
}


.scheme-box {
    @include backgroundImage('pexels-photo-590037.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 9vmin 0;
    position: relative;
    & > div:first-child {
        position: absolute; top:0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,.7);
    }
    h2 {
        font-family: 'Lato-Bold';
        color: #fff;
        font-size: 7vmin;
        margin: 0.5em 0;
    }
    p {
        font-family: 'Lato-Light';
        font-size: 2.2vmin;
        color: #d6d6d6;
        margin: 0 0 2.5em;
    }
    @media screen and (orientation: portrait) {
        h2 {font-size: 35px; text-align: center}
        p {font-size: 14px}
    }
}