.benefits-screen {
    position: relative;
    min-height: 100vh;
    padding: 10vmin 10vw;
    @include overflow();
    background-color: $darker-grey;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    &::before {
        @include backgroundImage('no-back-tile.png');
        @media screen and (orientation: portrait) {
            background-size: 5px;
        }
        background-repeat: repeat;
        background-position: center bottom;
    }

    & .benefits-screen-item {

        position: relative;
        margin-bottom: 10vmin;
        min-height: 30vh;

        & .item-description {
            font-size: 3vmin;
            color: #fff;
            & .title {
                font-family: Lato-Bold;
                margin-bottom: 3vmin;
            }
            & .text {
                font-family: Lato-Light;
            }
        }

        & .illustration {
            position: absolute;
            height: 100%;
            top: 0;
            width: 35%;
            
        }

        &.left {
            padding-right: 40%;
            & .illustration { right: 0; } 
        }
        &.right {
            padding-left: 40%;
            & .illustration { left: 0; } 
        }
    }

    @media screen and (orientation: portrait) {
        padding: 10vmin 5vmin;
        & .benefits-screen-item {
            & .item-description {
                font-size: 4vmin;
                & .title {
                    font-size: 5vmin;
                    text-align: center;
                }
            }
            & .illustration {
                position: relative;
                height: 50vh;
                width: 100%;
                margin-bottom: 3vmin;

                &.sunset-container {
                    margin: 0 -15vmin;
                    width: calc(100% + 30vmin);
                }

                &.chart-container {
                    margin: -10vmin 0;
                }

                &.locator-container {
                    margin-bottom: 10vmin;

                    & .locator .disc {
                        animation: none;
                        transform: rotate(45deg);
                    }
                }
            }
            &.left, &.right { padding: 0; }
        }
    }
}

& .locator {
    opacity: 0;
    position: relative;
    margin: auto;
    $number-of-circles: 3;
    $border-width: .5vmin;
    $dot-radius: .5vmin;
    $dollar-size: 1vmin;
    background-color: $red;
    border-radius: 100%;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: $dot-radius * 2;
        height: $dot-radius * 2;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        background-color: $yellow;
        border-radius: 100%;
    }

    &.show {
        animation: showAnimation .6s .2s ease-in-out forwards;
    }

    &.hide {
        animation: hideAnimation .3s ease-in-out forwards;
    }

    & .disc {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 100%;

        background: conic-gradient(rgba($red, 0) 270deg, rgba($yellow, .6) 356deg, $yellow 360deg);
        animation: rotateDiscAnimation 1.5s linear forwards infinite;
    }

    & .dollar {
        opacity: 1;
        display: block;
        position: absolute;
        z-index: 2;
        padding: 1vmin;
        border-radius: 100%;

        background: -moz-radial-gradient(center, ellipse cover, rgba(254,201,42,1) 40%, rgba(254,201,42,0.8) 52%, rgba(192,60,84,0) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(254,201,42,1) 40%,rgba(254,201,42,0.8) 52%,rgba(192,60,84,0) 100%);
        background: radial-gradient(ellipse at center, rgba(254,201,42,1) 40%,rgba(254,201,42,0.8) 52%,rgba(192,60,84,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec92a', endColorstr='#00c03c54',GradientType=1 );

        &::before {
            content: '\f155';
            font-family: FontAwesome;
            color: $dark;
            font-size: $dollar-size;
            line-height: $dollar-size;
            text-align: center;
            display: block;
            width: $dollar-size;
            height: $dollar-size;
        }

        &.animate {
            animation: dollarAnimation 1s cubic-bezier(0.5, -0.57, 0.68, 1.26) forwards;
        }

        &.dollar-1 {top: 40%; left: 80%;}
        &.dollar-2 {top: 70%; left: 55%;}
        &.dollar-3 {top: 30%; left: 25%;}
    }

    & span[class^="circle-"] {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0 0 0 $border-width $yellow;
        border-radius: 100%;
        z-index: 1;
    }

    @for $i from 1 through $number-of-circles {
        $step: 100% / $number-of-circles;
        & .circle-#{$i} {
            $radius: ($step * $i) / 2;
            width: $radius * 2;
            height: $radius * 2;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    @keyframes rotateDiscAnimation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes showAnimation {
        from {
            opacity: 0;
            transform: translateY(20vmin);
        }
        to {
            opacity: 1;
            transform: translateY(0vmin);
        }
    }

    @keyframes hideAnimation {
        from {
            opacity: 1;
            transform: translateY(0vmin);
        }
        to {
            opacity: 0;
            transform: translateY(-15vmin);
        }
    }

    @keyframes dollarAnimation {
        from {
            opacity: .8;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(.4);
        }
    }
}