.contacts-screen {
    position: relative;
    height: 100%;

    & .figures-container {
        position: absolute;
        z-index: 1;

        left: 0;
        top: 25vmin;
        bottom: 0;
        right: 0;
    }

    &-wrap {
        // position: relative;
        // z-index: 1;
        padding: (20vmin + 10vmin) 10vw 25vmin;
        min-height: 100vh;
        @include clear();

        background: rgb(48,207,208);
		background: -moz-linear-gradient(-45deg, rgba(48,207,208,1) 0%, rgba(51,8,103,1) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
		background: linear-gradient(135deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30cfd0', endColorstr='#330867',GradientType=1 );

		&::after, &::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
            bottom: 0;
            z-index: 0;
		}

		&::before {
			@include backgroundImage('no-back-tile.png');
            background-repeat: repeat;
            background-position: center bottom;

            @media screen and (orientation: portrait) {
                background-size: 5px;
            }
        }
        
        &::after {
            @include backgroundImage('contacts-back.png');
            background-position: center top;
            background-size: 100% auto;
        }
    }

    &.not-interractable {
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
        }
    }

    & .description {
        position: relative;
        z-index: 1;
        margin-bottom: 15vmin !important;

        & h4 {
            margin-bottom: 5vmin;
        }
    }

    & .contacts-form {
        position: relative;
        z-index: 1;
        margin: 0 20vw;

        & .input-field {
            position: relative;
            background-color: #fff;
            margin-bottom: 3vmin;
            border: 1px solid $grey;
            border-radius: 3px;
            font-size: 3vmin;
            padding: 3vmin 3vmin 3vmin 8vmin;

            @include overflow();

            & input, & textarea {
                padding: 0;
                width: 100%;
                float: left;
                border: none;
                color: $dark;
                line-height: 3.5vmin;
                font-size: 3vmin;
                font-family: OpenSans;

                &::placeholder {
                    color: $grey;
                }

                &:focus {
                    outline: none;
                }
            }

            & textarea {
                height: 3.5vmin * 8;
                resize: none;
            }

            &::before {
                color: $grey;
                @include transition(.3s);
                position: absolute;
                top: 3vmin;
                left: 3vmin;
                display: block;
                font-family: FontAwesome;
                line-height: 3.5vmin;
                text-align: center;
                width: 3.5vmin;
                height: 3.5vmin;
            }

            &.name::before {content: '\f007';}
            &.email::before {content: '\f003';}
            &.phone::before {content: '\f095';}
            &.message::before {content: '\f040';}

            &.not-empty::before {color: $dark; @include transition(.3s);}

            box-shadow: 0 0 0 0 $dark;
            &.error {
                box-shadow: 0 0 10px 0 $red;
                @include transition(.3s);
                & .error {
                    color: $red;
                    font-size: 12px;
                    position: absolute;
                    left: 8vmin;
                    bottom: 1vmin;
                }
            }
        }

        h4 {
            text-align: center;
            font-family: Lato-Bold;
            color: #fff;
            font-size: 3vmin;
            line-height: 4vmin;
            margin: 0 0 5vmin;
        }

        & button {
            position: relative;
            border: none;
            background: none;
            color: #fff;
            width: 100%;
            padding: 3vmin;
            font-size: 3vmin;
            line-height: 3.5vmin;
            text-align: center;
            border-radius: 8px;
            text-transform: uppercase;
            @include transition(.3s);
            @include overflow();

            &::after {
                content: '';
                z-index: -1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                @include transition(.6s);
                height: 100%;
                width: 250%;
    
                background: #FD8F3A;
                background: -moz-linear-gradient(45deg, rgba(#F9D423,1) 0%, rgba(#FD8F3A,1) 25%, rgba(#FF4E50,1) 50%, rgba(#FD8F3A,1) 75%, rgba(#F9D423,1) 100%);
                background: -webkit-linear-gradient(45deg, rgba(#F9D423,1) 0%, rgba(#FD8F3A,1) 25%, rgba(#FF4E50,1) 50%, rgba(#FD8F3A,1) 75%, rgba(#F9D423,1) 100%);
                background: linear-gradient(45deg, rgba(#F9D423,1) 0%, rgba(#FD8F3A,1) 25%, rgba(#FF4E50,1) 50%, rgba(#FD8F3A,1) 75%, rgba(#F9D423,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9D423', endColorstr='#FF4E50',GradientType=1 );
            }
    
            &:focus {
                outline: none;
            }
    
            &:hover {
                &::after {
                    @include transition(.6s);
                    left: -125%;
                }
            }
        }
    }

    @media screen and (orientation: portrait) {
        & .contacts-form {
            margin: 0;
        }
    }
}