.customers-screen {
    height: 100%;
    @include backgroundImage('no-back-tile.png');
    background-repeat: repeat;
    // background-color: $lighter-grey;

    &-wrap {
        position: relative;
        padding: 24vmin 2vw 20vmin 0;
        @include clear();
    }

    & .description.centered {
        position: absolute;
        top: 8vmin;
        left: 10vw;
    }

    & .customers-container {
        position: relative;

        width: 100%;
        height: 100%;
        margin-top: 5vmin;

        & .description {
            position: absolute;
            width: 40vw;

            p {
                margin: 0;
            }

            &#description-1 {
                top: 52vw;
                left: 10vw;
            }

            &#description-2 {
                top: 80vw;
                right: 0;
            }

            &#description-3 {
                top: 115vw;
                left: 5vw;

                & span {
                    margin-left: 10vmin;
                }
            }

            &#description-4 {
                top: 140vw;
                right: -5vw;
            }

            &#description-5 {
                top: 170vw;
                left: 5vw;
            }
        }

        & #circle, & #triangle {
            &.show {
                animation: showForm ease-in-out .2s forwards;
            }
            &.hide {
                animation: hideForm ease-in-out .2s forwards;
            }
        }

        @keyframes showFrom {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        @keyframes hideForm {
            from {opacity: 1;}
            to {opacity: 0;}
        }
    }
}

&.is-mobile {
    .customers-screen {
        background-size: 5px;
        & .customers-screen-wrap {
            padding: 5vh 5vw 20vmin;
        }
        & .description {
            position: static;
            text-align: left !important;
            margin-bottom: 5vh;
            & .bold {
                display: none;
                font-size: 5vmin;
            }
            & .small {
                margin-bottom: 5vmin;
                font-size: 4vmin;
            }
        }

        & .customers-container {
            margin: 0;
            & .description {
                display: none;
            }
        }
    }
}