.faq-screen {
    position: relative;
    height: 100%;

    &-wrap {
        padding: (10vmin + 12vmin) 10vw 20vmin;
        min-height: 100vh;
        background-color: $lighter-grey;
        @include clear();

        background: rgb(48,207,208);
		background: -moz-linear-gradient(-45deg, rgba(48,207,208,1) 0%, rgba(51,8,103,1) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
		background: linear-gradient(135deg, rgba(48,207,208,1) 0%,rgba(51,8,103,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30cfd0', endColorstr='#330867',GradientType=1 );

		&::after, &::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
            bottom: 0;
            z-index: 0;
		}

		&::before {
			@include backgroundImage('no-back-tile.png');
            background-repeat: repeat;
            background-position: center bottom;

            @media screen and (orientation: portrait) {
                background-size: 5px;
            }
        }
        
        &::after {
            @include backgroundImage('contacts-back.png');
            background-position: center top;
            background-size: 100% auto;
        }
    }

    & .description {
        margin-bottom: 15vmin !important;
    }

    .faq-list {
        border: 2px solid $violet;
        border-bottom: none;
        border-radius: 4px;
        li {
            border-bottom: 2px solid $violet;
        }
        .faq-item {
            position: relative;
            @include overflow();
            background-color: rgba(#fff, .85);
            font-family: Montserrat-Light;
            font-size: 3vmin;
            line-height: 4vmin;
            border: $violet;
            border-bottom: none;
            min-height: 10vmin;

            &::before {
                content: '\f0da';
                font-family: FontAwesome;
                font-size: 3vmin;
                color: $violet;
                line-height: 4vmin;
                text-align: center;
                width: 4vmin;
                height: 4vmin;

                position: absolute;
                z-index: 2;
                top: 3vmin;
                left: 1vmin;
            }

            & .question {
                position: relative;
                z-index: 1;
                display: block;
                padding: 3vmin 6vmin;
                &:hover {
                    @include transition(.6s);
                    background-color: rgba(#fff, .9);
                }
            }

            & .answer {
                margin-top: -100%;
                padding: 4vmin 6vmin;
                & p {
                    margin-bottom: 2vmin;
                }
            }

            &.active {
                &::before {
                    content: '\f0d7';
                }
                @include transition(.6s);
                background-color: #fff;
                & .question {
                    font-family: Montserrat-Medium;
                    @include transition(.6s);
                    background-color: #fff;
                    &:hover {
                        @include transition(.6s);
                        background-color: lighten($lighter-grey, 2);
                    }
                }
                & .answer {
                    animation: showAnswer .6s ease-in-out forwards;
                }
            }

            &.inactive {
                &::before {
                    content: '\f0da';
                }
                @include transition(.6s);
                background-color: rgba(#fff, .85);;
                & .question {
                    @include transition(.6s);
                    background-color: transparent;
                    
                }
                & .answer {
                    animation: hideAnswer .6s ease-in-out forwards;
                }
            }
        }
    }

    &.not-interractable {
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
        }
    }
}

@keyframes showAnswer {
    from {
        margin-top: -100%;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes hideAnswer {
    from {
        margin-top: 0;
        opacity: 1;
    }
    to {
        margin-top: -100%;
        opacity: 0;
    }
}