.flow-screen {
    position: relative;
    min-height: 100vh;
    background-color: $lighter-grey;

    &-wrap {
        padding: 10vmin 10vw 15vmin;
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;

        & .description {
            margin-bottom: 10vmin !important;
        }
    }

    

    & .flow-container {
        width: 100%;
        z-index: 2;
    }
}

&.is-mobile {
    & .flow-screen {
        height: auto;
        & .flow-screen-wrap {
            padding: 5vmin 5vw;
            height: auto;
            position: relative;
        }
    }
}