.form-screen {
    top: 1px;
    padding: 15vmin 10vw 0;
    height: 60vh;

    background-color: $darker-grey;
    position: relative;

    &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    &::after {
        @include backgroundImage('no-back-tile.png');
        @media screen and (orientation: portrait) {
            background-size: 5px;
        }
        background-repeat: repeat;
        background-position: center bottom;
    }

    &::before {
        @include backgroundImage('footer-back.png');
        height: 100vh;
        width: 100vw;
        background-size: 100% auto;
        z-index: 1;
    }

    &-wrap {
        position: relative;
        z-index: 1;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $lighter-grey;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: -10vw;
            width: 120vw;
            height: 3px;
            z-index: -1;
            background-color: transparent;
        }
    }

    &-title {
        font-family: Montserrat-Medium;
        font-size: 6vmin;
        margin-bottom: 5vmin;
        color: $water;
    }

    &-description {
        font-family: Montserrat-ExtraLight;
        color: #fff;
        font-size: 4vmin;
        margin-bottom: 5vmin;
    }

    & form {
        width: 35vw;
        input {
            width: calc(100% - 8vmin);
            height: 8vmin;
            border: none;
            padding: 2vmin 2vmin;
            font-size: 4vmin;
            line-height: 4vmin;
            float: left;
        }

        & button {
            background: none;
            border: none;
            padding: 2vmin;
            background-color: $water;
            float: left;
            width: 8vmin;
            height: 8vmin;
            & i {
                float: left;
                &::before {
                    color: #fff;
                    display: block;
                    font-size: 4vmin;
                    line-height: 4vmin;
                    width: 4vmin;
                    height: 4vmin;

                    @include transition(.3s);
                    transform: translateX(0);
                }
            }

            &:hover {
                background-color: lighten($water, 5);
                & i::before {
                    @include transition(.3s);
                    transform: translateX(.5vmin);
                }
            }
        }

        .input-field {
            overflow: hidden;
            position: relative;
            box-shadow: 0 0 0 0 $dark;
            &.error {
                box-shadow: 0 0 10px 0 $red;
                @include transition(.3s);
                & .error {
                    color: $red;
                    font-size: 12px;
                    position: absolute;
                    left: 2vmin;
                    bottom: .1vmin;
                }
            }
        }
    }

    @media screen and (orientation: portrait) {
        padding: 15vmin 5vw 30vmin;
        height: auto;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: calc(100% - 2px);
            left: 5vw;
            right: 5vw;
            height: 2px;
            width: auto;
            background: none;
            background-color: #fff;
        }

        & .form-screen-wrap::after {
            display: none;
        }

        & .form-screen-title {
            font-family: Lato-Regular;
            font-size: 8vmin;
            text-transform: uppercase;
            text-align: center;
        }

        & .form-screen-description {
            font-family: Lato-Light;
            font-size: 6vmin;
            text-align: center;
            margin-bottom: 5vh;
        }

        & form {
            // @include overflow();
            // height: 14vmin;
            // background-color: #fff;
            width: 100%;
            input {
                width: calc(100% - 14vmin);
                height: 14vmin;
                padding: 4vmin;
                border-radius: 0;
                font-size: 6vmin;
                line-height: 6vmin;
            }
    
            & button {
                width: 14vmin;
                height: 14vmin;
                text-align: center;
                & i {
                    &::before { 
                        font-size: 6vmin;
                        line-height: 10vmin;
                        width: 10vmin;
                        height: 10vmin;
                    }
                }
            }
        }
    }
}