.gears-screen {
    position: relative;
    height: 100vh;
    @include backgroundImage('no-back-tile.png');
    background-repeat: repeat;
    // background-color: $lighter-grey;

    &-wrap {
        padding: 8vmin + 8.5vmin 10vw 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;

        &::after {
            content: '';
            position: absolute;
            top: -100vh;
            left: 0;
            width: 100%;
            height: 300vh;

            @include backgroundImage('gears-back.png');
            background-size: 100% auto;
            background-position: top center;

            z-index: 0;
        }
    }

    &.fixed {
        .gears-screen-wrap {
            position: fixed;
        }
    }

    &.end {
        .gears-screen-wrap {
            top: auto;
            bottom: 0;
        }
    }

    & .description {
        position: absolute;
        top: 8vmin;
        left: 10vw;
    }

    & .gears-container {
        width: 100%;
        height: 65.5vh;
        margin-top: 15vmin;

        position: relative;
        z-index: 2;
    }
}