.integration-screen {
    position: relative;
    &-wrap {
        padding: 5vmin 10vw 15vmin;
        height: 100vh;
        background-color: $lighter-grey;

        @include clear();

        & .description {
            margin-bottom: 10vmin !important;
        }

        & .integration-container {
            width: 100%;
            height: calc(100% - 20vmin);
        }
    }

    @media screen and (orientation: portrait){
        & .integration-screen-wrap {
            height: auto;
        }
    }
}