.performance-screen {
    height: 100vh;
    padding: 6vmin 10vw;
    background-color: #979797;
    @include backgroundImage('no-back-tile.png');
    @media screen and (orientation: portrait) {
        background-size: 5px;
    }
    background-repeat: repeat;
    background-position: center top;
    position: relative;

    & .performance-grid {
        @include clear();
        opacity: 0;
        transform: translateY(20vmin);
        margin-top: 15vmin;
        margin-bottom: 15vmin;
        display: flex !important;
        .item {
            flex: 1 1 0;
            padding: 0 20px;
            & > div {
                height: 100%;
                background: #fff;
                border-radius: 10px;
                padding: 20px 5vmin 30px;
            }
        }

        &.show {
            animation: showColumns ease-in-out .7s forwards;
        }

        &.hide {
            animation: hideColumns ease-in-out .3s forwards;
        }
    }

    & .performance-icon {
        border: 3px solid #63d3d3;
        border-radius: 50%;
        overflow: hidden;
        width: 156px;
        height: 156px;
        margin: 0 auto 1em;
        position: relative;
        & > span {
            @include overflow();
            font-size: 135px;
            background-color: #fff;
            display: block;
            border-radius: 100%;
            margin: 0;
            position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            &.icon-engineers {color: $red;}
        }

        & .icon-engineers {
            & .path1, & .path2 {
                &::before {
                    color: $water;
                }
            }
            & .path4,
            & .path6,
            & .path8,
            & .path10,
            & .path12,
            & .path14 {
                &::before {
                    color: $violet;
                }
            }
        }
        & .icon-analyse {
            & .path1 {
                &::before {
                    color: $water;
                }
            }
            & .path3,
            & .path5 {
                &::before {
                    color: $violet;
                }
            }
        }
        & .icon-compensate {
            & .path6 {
                &::before {
                    color: $water;
                }
            }
            & .path1,
            & .path2,
            & .path4,
            & .path5 {
                &::before {
                    color: $violet;
                }
            }
        }
    }

    & h5 {
        color: #969696;
        text-align: center;
        margin: 0;
        font-size: 1vw;
        font-family: Montserrat-ExtraLight;

        & span {
            font-family: Lato-Bold;
            display: block;
            font-size: 1.5vw;
            margin-bottom: 1em;
        }
    }
    @media only screen and (max-width: 1024px) {
        height: auto;
        min-height: 100vh;
        padding: 10vh 5vw;
        & .performance-grid {
            display: block !important;
            .item {
                margin: 0 0 20px;
                & .performance-icon {
                    width: 100px;
                    height: 100px;
                    & > span {
                        @include overflow();
                        font-size: 85px;
                    }
                }

                & h5 {
                    font-size: 14px;
                    & span {font-size: 22px;}
                }
            }
        }
    }

}

@keyframes showColumns {
    from {
        opacity: 0;
        transform: translateY(20vmin);
    }
    to {
        opacity: 1;
        transform: translateY(0vmin);
    }
}

@keyframes hideColumns {
    from {
        opacity: 1;
        transform: translateY(0vmin);
    }
    to {
        opacity: 0;
        transform: translateY(-15vmin);
    }
}