.product-screen {
    height: 100%;
    position: relative;
    background-color: $lighter-grey;

    &-wrap {
        opacity: 0;
        transform: translateY(-10vmin);
        padding: 10vmin 10vw 15vmin;
        min-height: 100vh;

        @include clear();
    }

    & .description {
        margin-bottom: 5vmin;
    }

    & .features-list {
        margin: 0 -10vw;
        & .feature {
            width: 100%;
            padding: 4vmin 10vw;
            &-title {
                float: left;
                font-family: Lato-Bold;
                font-size: 3vmin;
                padding-right: 5vmin;
                width: 30%;
            }
            &-text {
                @include overflow();
                font-family: Lato-Light;
                font-size: 3vmin;
                & span {
                    display: block;
                }
            }
            &:hover {
                cursor: pointer;
                background-color: rgba($water, .1);
                @include transition(.3s);
            }
        }
    }

    & .product-scheme-container {
        margin: 15vmin 0;
    }

    

    & .product-devices-image {
        display: block;
        height: 35vmin;

        @include backgroundImage('product-devices.png');
        background-size: contain;
        background-position: center;
        margin: 0 0 5vmin;
    }

    & .product-text {
        margin-bottom: 10vmin;
        font-family: Montserrat-ExtraLight;
        font-size: 3vmin;
    }

    &.show {
        & .product-screen-wrap {
            animation: showScreen .5s .2s ease-in-out forwards;
        }
    }

    &.hide {
        & .product-screen-wrap {
            animation: hideScreen .3s ease-in-out forwards;
        }
    }

    @media screen and (orientation: portrait) {
        & .product-screen-wrap {
            padding: 10vmin 5vw 15vmin;
        }
        & .features-list {
            & .feature-title {
                float: none;
                width: auto;
                margin-bottom: 2vmin;
            }
        }
    }

    @keyframes showScreen {
        from {
            opacity: 0;
            transform: translateY(-10vmin);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes hideScreen {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-10vmin);
        }
    }
}