.product-base-screen {
    position: relative;
    height: 100vh;
    padding: 0 10vw;
    @include overflow();

    & .left-part, & .right-part {
        width: 50%;
        float: left;
        margin: 5vmin 0 0;
    }

    & .left-part {
        position: relative;
        height: 100%;
        margin: 5vmin 0 0;
        // @include backgroundImage('ipad.png');
        // background-position: center;
        // background-size: 80% auto;

        & .video-wrap {
            position: absolute;
            width: 90%;
            left: 0;
            height: 36vh;
            top: 50%;
            transform: translateY(-50%);

            & #tryoup-video {
                width: 100%;
                // height: 100%;
            }
        }
    }

    & .right-part {    
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        button {
            width: 35vmin;
            margin: 6vmin 0 0;
            background: none;
            font-family: Montserrat-ExtraLight;
            font-size: 3vmin;
            color: #fff;
            padding: 1.5vmin 3vmin;
            display: block;
            overflow-x: hidden;
            overflow-y: hidden;
            background: none;
            border: none;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
    
            & .fa {
                margin-left: 1vmin;
            }
    
            &::after {
                content: '';
                z-index: -1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                @include transition(.6s);
                height: 100%;
                width: 250%;
    
                background: rgb(48,210,190);
                background: -moz-linear-gradient(45deg, rgba(48,210,190,1) 0%, rgba(53,132,167,1) 20%, rgba(71,59,123,1) 50%, rgba(53,132,167,1) 80%, rgba(48,210,190,1) 100%);
                background: -webkit-linear-gradient(45deg, rgba(48,210,190,1) 0%,rgba(53,132,167,1) 20%,rgba(71,59,123,1) 50%,rgba(53,132,167,1) 80%,rgba(48,210,190,1) 100%);
                background: linear-gradient(45deg, rgba(48,210,190,1) 0%,rgba(53,132,167,1) 20%,rgba(71,59,123,1) 50%,rgba(53,132,167,1) 80%,rgba(48,210,190,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30d2be', endColorstr='#30d2be',GradientType=1 );
            }
    
            &:focus {
                outline: none;
            }
    
            &:hover {
                &::after {
                    @include transition(.6s);
                    left: -125%;
                }
            }
        }
    }

    h2, h3 {
        color: #fff;
        font-weight: 100;
        margin: 0;
        // text-align: center;
        // margin-bottom: 1vmin;

        & > span {
            color: $water;
        }
    }

    h2 {
        font-size: 8vmin;
        font-family: Lato-Bold;
        text-transform: uppercase;
        margin-bottom: 3vmin;
    }

    h3 {
        font-family: Montserrat-ExtraLight;
        font-size: 4vmin;
    }

    @media screen and (orientation: portrait) {
        background: rgb(48,206,207);
        background: -moz-linear-gradient(-45deg, rgba(48,206,207,1) 0%, rgba(50,61,131,1) 60%);
        background: -webkit-linear-gradient(-45deg, rgba(48,206,207,1) 0%,rgba(50,61,131,1) 60%);
        background: linear-gradient(135deg, rgba(48,206,207,1) 0%,rgba(50,61,131,1) 60%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30cecf', endColorstr='#323d83',GradientType=1 );

        & .left-part {
            display: none;
        }

        & .right-part {
            width: 100%;
            margin: 25vh 0;
            top: 0;
            transform: none;

            h2 {
                font-family: Lato-Bold;
                font-size: 12vmin;
                background: none;
                text-align: center;
                padding: 0;
                margin: 0 auto;
                width: 100%;
            }

            h3 {

                font-size: 4vmin;
                font-family: Montserrat-Light;
                text-align: center;
                padding: 0;
                margin: 5vmin 0 0;

                & span { font-size: 15vmin; font-family: Lato-Bold; }
                &::before {
                    display: none;
                }
            }

            & button {
                width: auto;
                padding: 4vmin 12vmin;
                margin: 20vmin auto 0;
                font-size: 5vmin;
                border: 1px solid #fff;
                z-index: 1;
                & .fa {display: none;}
                &::after {
                    background: none;
                }
            }
        }

        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    
        &::before {
            @include backgroundImage('no-back-tile.png');
            background-repeat: repeat;
            background-position: left bottom;
            @media screen and (orientation: portrait) {
                background-size: 5px;
            }
        }
    
        &::after {
            left: -10vw;
            top: 0;
            @include backgroundImage('base-page-back-mob.png');
            background-size: 120vw auto;
        }
    }
}