.solution-screen {
    position: relative;
    min-height: 100vh;
    background-color: $lighter-grey;
    padding: 10vmin 10vw;

    & .solution-text {
        font-size: 3vmin;
        font-family: Lato-Light;
        margin-bottom: 10vmin;
    }

    & .text-grid {
        @include clear();
        margin: 0 (-5vmin) 15vmin;

        & .column {
            padding: 0 5vmin;
            width: (100% / 3);
            float: left;

            & .with-icon {
                position: relative;

                & .title {
                    font-family: Lato-Bold;
                    text-align: center;
                    font-size: 3vmin;
                    text-transform: uppercase;
                    margin-bottom: 5vmin;
                }

                span[class^="icon-"] {
                    color: $water;
                    font-size: 12vmin;
                    left: 50%;
                    transform: translateX(-50%);
                    display: inline-block;
                    margin-bottom: 5vmin;
                }

                & .icon-call-centre {
                    & .path1,
                    & .path2,
                    & .path3,
                    & .path5,
                    & .path6,
                    & .path8,
                    & .path10 {
                        &::before {
                            color: $water;
                        }
                    }
                }

                & .icon-jobsheets {
                    & .path1,
                    & .path2,
                    & .path3,
                    & .path4,
                    & .path5,
                    & .path6,
                    & .path7,
                    & .path8,
                    & .path10 {
                        &::before {
                            color: $water;
                        }
                    }
                }

                & .icon-allocate {
                    & .path1,
                    & .path2,
                    & .path3,
                    & .path5,
                    & .path7,
                    & .path9,
                    & .path11,
                    & .path13 {
                        &::before {
                            color: $water;
                        }
                    }
                }
            }

            & .text-list {
                list-style: disc;
                padding: 0 4vmin;
                li {
                    font-size: 3vmin;
                    font-family: Lato-Light;
                    margin-left: 2vmin;
                    margin-bottom: 3vmin;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    & .why {
        margin-top: 10vmin;
        &-title {
            text-align: center;
            font-family: Lato-Bold;
            font-size: 5vmin;
            margin-bottom: 5vmin;
        }
        ul {
            li {
                position: relative;
                font-family: Lato-Light;
                font-size: 3vmin;
                padding-left: 5vmin;
                margin-bottom: 3vmin;
                line-height: 4vmin;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 1vmin;
                    width: 2vmin;
                    height: 2vmin;

                    background-color: $water;
                    border-radius: 100%;
                }
            }
        }
    }

    @media screen and (orientation: portrait) {
        padding: 10vmin 5vw;
        & .solution-text {
            font-size: 4vmin;
        }

        & .text-grid {
            & .column {
                width: 100%;
                margin-bottom: 10vmin;
                & .with-icon {
                    & .title {
                        font-size: 5vmin;
                    }
    
                    span[class^="icon-"] {
                        font-size: 16vmin;
                    }
                }
                & .text-list {
                    li {
                        font-size: 4vmin;
                    }
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        & .why {
            ul {
                li {
                    font-size: 3.5vmin;
                }
            }
        }
    }
}