.tabs-box {
    background: #fff;
    .menu-head {
        display: none;
        color: rgba(0,0,0,.57);
        font-size: 15pt;
        padding: 15px 20px;
        position: relative;
        border-bottom: 2px solid rgba(0,0,0,.25);
        .fa {
            float: right;
            position: relative;
            top: 4px;
        }
    }
    .tabs-item {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        background-color: #385d94;
        @include backgroundImage('no-back-tile.png');
        background-repeat: repeat;
        li {
            flex: 1 1 0;
            text-align: center;
            position: relative;
            display: inline-block;
            a {
                display: block;
                padding: 15px 5px;
                span {
                    display: block;
                    font-family: Lato-Regular;
                    font-size: 10pt;
                    color: #fff;
                    text-transform: uppercase;
                }
                i {
                    display: inline-block;
                    margin-bottom: 10px;
                    height: 50px;
                    width: 61px;
                    text-align: center;
                    img {display: inline-block;}
                    img + img {display: none}
                }
            }
            &.active {
                background: #fff;
                a {
                    i {
                        img {display: none}
                        img + img {display: inline-block;}
                    }
                    span {color: #45427e;}
                }
            }

            &::after {
                content: "";
                display: block;
                width: 2px;
                position: absolute; top:0; bottom: 0; right: 0;
                background: rgb(253,214,83);
                background: -moz-linear-gradient(top,  rgba(253,214,83,1) 0%, rgba(239,142,69,1) 100%);
                background: -webkit-linear-gradient(top,  rgba(253,214,83,1) 0%,rgba(239,142,69,1) 100%);
                background: linear-gradient(to bottom,  rgba(253,214,83,1) 0%,rgba(239,142,69,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd653', endColorstr='#ef8e45',GradientType=0 );
            }
            &:last-child::after {display: none}
        }
    }

    .tabs-content {
        display: none;
        padding-top: 30px;
        padding-bottom: 30px;
        h2 {
            font-family: 'Lato-Bold';
            color: #45427e;
            font-size: 9vmin;
            margin: 0.5em 0;
        }
        p {
            font-family: 'Lato-Light';
            font-size: 2.2vmin;
            color: #a5a5a5;
            margin: 0 0 2.5em;
        }
        &.active {display: block;}
    }
    @media only screen and (max-width: 1024px) {
        .menu-head {
            display: block;
        }
        .tabs-item {
            list-style: none;
            margin: 0;
            padding: 0;
            background: #fff;
            display: none;
            &.open {display: block;}
            li {
                display: block;
                text-align: left;
                position: relative;
                flex: none;
                a {
                    padding: 15px 20px;

                    span {
                        display: inline-block;
                        color: #45427e;
                        vertical-align: middle;
                    }
                    i {
                        display: inline-block;
                        margin: 0 15px 0 0;
                        vertical-align: middle;
                        img {height: auto;}
                        img + img {display: none !important;}
                    }
                }
                &.active {
                    background: #45427e;
                    a span {color: #fff;}

                }
                &::after {display: none;}
            }
        }
    }

    @media screen and (orientation: portrait) {
        .tabs-content {
            h2 {
                font-size: 4vmin;
                text-align: center;
            }
            p {
                font-size: 2.5vmin;
                margin: 0 0 2.5em;
            }
        }
    }

}