.text-screen {
    height: 100vh;
    padding: 35vmin 10vw 0;
    background-color: $darker-grey;
    position: relative;
    // @include backgroundImage('no-back-tile.png');
    // background-repeat: repeat;

    &.auto-height {
        height: auto;
        padding: 10vmin 10vw;
    }

    &.light {
        background-color: $lighter-grey;
        & .description {
            color: $darker-grey;
        }
    }

    & .description {
        width: auto;
    }

    @media screen and (orientation: portrait) {
        padding: 10vh 5vw;
        height: auto;
        & .description .bold {
            font-size: 4vh;
        }
    }
}

@keyframes showColumns {
    from {
        opacity: 0;
        transform: translateY(20vmin);
    }
    to {
        opacity: 1;
        transform: translateY(0vmin);
    }
}

@keyframes hideColumns {
    from {
        opacity: 1;
        transform: translateY(0vmin);
    }
    to {
        opacity: 0;
        transform: translateY(-15vmin);
    }
}